{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    {% if estudio.estado and request.user in estudio.idExpertos.all %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-11" style="margin-top: 10px">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab_1" data-toggle="tab">
                              {% if valoracion == 0 %}
                                  Nueva Valoración - {{ porcentaje }}% registrado
                              {% else %}
                                  Editar Valoración
                              {% endif %}
                          </a></li>
                          <li><a href="#tab_2" data-toggle="tab">Reglas <span class="badge badge-primary">{{ reglas.count }}</span></a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_1">
                               <div class="row">
                                    <div class="col-md-12">
                                            <div class="widget-content">
                                                <div class="padd">
                                                    <hr/>
                                                    {% include 'messages.html' %}

                                                        <!-- Form starts.  -->
                                                    <form class="form-horizontal" role="form" method="post">
                                                        {% csrf_token %}

                                                        {% if ideas.count > 0 and valoracion == 0 %}

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        {{form.idIdea.errors}}
                                                                        <label class="control-label" style="text-align: left">Idea*</label>
                                                                        <select name="idIdea" class="form-control" required id="id_idIdea">
                                                                            {% if ideas %}
                                                                                <option value="" selected>----Seleccionar----</option>
                                                                                {% for idea in ideas %}
                                                                                    <option value="{{idea.id}}">{{idea.titulo}}</option>
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                <option value="" selected>----NO SE HAN REGISTRADO IDEAS EN ESTE ESTUDIO----</option>
                                                                            {% endif %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        {{form.valoracion.errors}}
                                                                        <label class="control-label" style="text-align: left">Valoración*</label>
                                                                        <select name="valoracion" class="form-control" required id="id_valoracion">
                                                                            {% if escala %}
                                                                                <option value="" selected>----Seleccionar----</option>
                                                                                {% for opcion in escala %}
                                                                                    {% if opcion.codigoColor != '#000000' and opcion.codigoColor != '#008000' and opcion.codigoColor != '#FF0000' %}
                                                                                        <option style="background-color: {{ opcion.codigoColor }}" value="{{opcion.id}}">{{opcion.nombre}}</option>
                                                                                    {% else %}
                                                                                        <option style="background-color: {{ opcion.codigoColor }}; color: white" value="{{opcion.id}}">{{opcion.nombre}}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                <option value="" selected>----NO SE HAN REGISTRADO OPCIONES EN LA ESCALA----</option>
                                                                            {% endif %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        {{form.justificacion.errors}}
                                                                        <label class="control-label" style="text-align: left">Justificación*</label>
                                                                        <textarea class="form-control" rows="2" name="justificacion"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row" hidden>
                                                                <div class="col-md-3 col-md-offset-1">

                                                                    <div class="form-group">
                                                                        <label class="control-label" style="text-align: left">Experto</label>
                                                                        <input class="form-control" type="text" value="{{request.user.id}}" name="idExperto">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        {% elif ideas.count == 0 and valoracion == 0 %}
                                                            <div class="alert alert-info alert-dismissible col-md-11">
                                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                                <h4><i class="icon fa fa-info"></i></h4>
                                                                <h3>Ha finalizado la evaluación de las ideas.
                                                                    <br>
                                                                    Gracias por participar.
                                                                </h3>
                                                                <br>
                                                                <h4>Puede editar las valoraciones realizas mientras la fase de evaluación y el estudio se encuentren abiertos.</h4>
                                                            </div>
                                                        {% endif %}


                                                        <!-- si se esta editando la valoracion -->

                                                        {% if valoracion != 0 %}

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        {{form.idIdea.errors}}
                                                                        <label class="control-label" style="text-align: left">Idea*</label>
                                                                        <select name="idIdea" class="form-control" required id="id_idIdea">
                                                                            <option value="{{ valoracion.idIdea.id }}" selected>{{ valoracion.idIdea.titulo }}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        {{form.valoracion.errors}}
                                                                        <label class="control-label" style="text-align: left">Valoración*</label>
                                                                        <select name="valoracion" class="form-control" required id="id_valoracion">
                                                                            {% if escala %}
                                                                                {% for opcion in escala %}
                                                                                    {% if opcion.codigoColor != '#000000' and opcion.codigoColor != '#008000' and opcion.codigoColor != '#FF0000' %}
                                                                                        {% if opcion.id == valoracion.valoracion.id %}
                                                                                            <option selected style="background-color: {{ opcion.codigoColor }}" value="{{opcion.id}}">{{opcion.nombre}}</option>
                                                                                        {% else %}
                                                                                            <option style="background-color: {{ opcion.codigoColor }}" value="{{opcion.id}}">{{opcion.nombre}}</option>
                                                                                        {% endif %}
                                                                                    {% else %}
                                                                                        {% if opcion.id == valoracion.valoracion.id %}
                                                                                            <option selected style="background-color: {{ opcion.codigoColor }}; color: white" value="{{opcion.id}}">{{opcion.nombre}}</option>
                                                                                        {% else %}
                                                                                            <option style="background-color: {{ opcion.codigoColor }}; color: white" value="{{opcion.id}}">{{opcion.nombre}}</option>
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                <option value="" selected>----NO SE HAN REGISTRADO OPCIONES EN LA ESCALA----</option>
                                                                            {% endif %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        <label class="control-label" style="text-align: left">Justificación*</label>
                                                                        <textarea class="form-control" rows="2" name="justificacion">{{ valoracion.justificacion }}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row" hidden>
                                                                <div class="col-md-3 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        <label class="control-label" style="text-align: left">Experto</label>
                                                                        <input class="form-control" type="text" value="{{valoracion.idExperto.id}}" name="idExperto">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        {% endif %}


                                                        <div class="form-group">
                                                            <div class="col-md-8 col-md-offset-3">
                                                                <a class="btn btn-success" href="{% url 'abaco:valoraciones' estudio.id %}" title="Lista de valoraciones"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                                {% if ideas.count == 0 and valoracion == 0 %}
                                                                    <button disabled type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Guardar</button>
                                                                {% else %}
                                                                    <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Guardar</button>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                    </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_2">
                            <div class="row" style="text-align: justify">
                                <div class="col-md-12">
                                      <div class="box box-solid">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                          <dl>
                                            {% if reglas.count > 0 %}
                                                {% for regla in reglas %}
                                                    <dt>{{ regla.titulo }}</dt>
                                                    <dd>{{ regla.descripcion }}</dd>
                                                    <br>
                                                {% endfor %}
                                            {% else %}
                                                <h4>No se han registrado reglas en el estudio.</h4>
                                            {% endif %}
                                          </dl>
                                        </div>
                                        <!-- /.box-body -->
                                      </div>
                                      <!-- /.box -->
                                    </div>
                            </div>
                          </div>
                          <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                      </div>
                      <!-- nav-tabs-custom -->
                    </div>
                </div>
            </div>
</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}


