{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <style>
        input { text-align: center; width: 60px; }
        td { text-align: center }
        .celda_idea { width: 200px;}
    </style>
{% endblock %}

{% block content %}

    {% if usuario != 'EXPERTO' and usuario != '' %}
         <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-11" style="margin-top: 10px">
                        <div class="widget-head">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {{ expertos }} / {{ estudio.idExpertos.count }} expertos han finalizado la valoración de las ideas.
                                </h3>
                            </div>
                        </div>
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab_1" data-toggle="tab">Vista de Matriz</a></li>
                          <li><a href="#tab_2" data-toggle="tab">Vista de Lista</a></li>
                          <li><a href="#tab_3" data-toggle="tab">Vista de totales</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_1">
                               <div class="row">
                                    <div class="col-md-12">
                                            <div class="widget-content">
                                                <div class="padd">
                                                    {% if matriz %}
                                                      <table id="example2" class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <input class="celda_idea" type="text">
                                                            {% for fila in matriz %}
                                                                {% for celda in fila %}
                                                                    <tr>
                                                                        {% if celda.tipo == 'ENCABEZADO' %}
                                                                            <input type="text" title="{{celda.objeto}}" value="{{celda.objeto}}">
                                                                        {% elif celda.tipo == 'IDEA' %}
                                                                            <input onclick="location.href='{% url 'abaco:grafico_totales' celda.objeto.id %}'" class="celda_idea" type="text" title="{{celda.objeto.titulo}}" value="{{celda.objeto.titulo}}">
                                                                        {% elif celda.tipo == 'VALORACION' %}
                                                                            <input type="text"  style="background-color: {{ celda.objeto.valoracion.codigoColor }}" title="{{celda.objeto.valoracion.nombre}}" onclick="location.href='{% url 'abaco:consultar_valoracion' celda.objeto.id 'matriz' %}'">
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                                <br>
                                                            {% endfor %}
                                                       </tbody>
                                                      </table>
                                                    {% else %}
                                                        <h3>Ningún experto ha finalizado las valoraciones a las ideas.</h3>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_2">
                            <div class="row" style="text-align: justify">
                                <div class="col-md-12">
                                      <div class="box box-solid">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                          <dl>
                                            {% if lista.count > 0 %}
                                                {% for valoracion in lista %}
                                                <dt>{{ valoracion.idIdea.titulo }}<br>
                                                    <input type="text" style="background-color: {{ valoracion.valoracion.codigoColor }}"> - {{valoracion.valoracion.nombre}}
                                                </dt>
                                                    <br>
                                                <dd>
                                                    {{ valoracion.justificacion }}
                                                </dd>
                                                <br>
                                                {% endfor %}
                                            {% else %}
                                                <h3>Ningún experto ha finalizado las valoraciones a las ideas.</h3>
                                            {% endif %}
                                          </dl>
                                        </div>
                                        <!-- /.box-body -->
                                      </div>
                                      <!-- /.box -->
                                    </div>
                            </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_3">
                               <div class="row">
                                    <div class="col-md-12">
                                            <div class="widget-content">
                                                <div class="padd">
                                                    {% if totales %}
                                                      <table id="tabla_totales" class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                          <th style="text-align: center">Idea</th>
                                                          {% for opcion in escala %}
                                                            <th style="background-color: {{ opcion.codigoColor }}" title="{{ opcion.nombre }}"></th>
                                                          {% endfor %}
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for fila in totales %}
                                                                <tr>
                                                                    <td onclick="location.href='{% url 'abaco:grafico_totales' fila.0.id %}'">{{fila.0.titulo}}</td>
                                                                    <td>{{fila.1}}</td>
                                                                    <td>{{fila.2}}</td>
                                                                    <td>{{fila.3}}</td>
                                                                    <td>{{fila.4}}</td>
                                                                    <td>{{fila.5}}</td>
                                                                    <td>{{fila.6}}</td>
                                                                    <td>{{fila.7}}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tfoot>
                                                      </table>
                                                    {% else %}
                                                        <h3>Ningún experto ha finalizado la valoracion de las ideas.</h3>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                      </div>
                      <!-- nav-tabs-custom -->
                    </div>

                    <!--BOTONES ----------------------------------- -->

                     <div class="form-group">
                         <div class="col-md-offset-2 col-md-8">
                             <a class="btn btn-success" href="{% url 'abaco:valoraciones' estudio.id %}" title="Valoraciones de las ideas"><i class="fa fa-arrow-left"></i> Atrás</a>
                             <a class="btn btn-primary" data-toggle="modal" href="#modal_ayuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                         </div>
                     </div>

                     <!--INICIO MODAL AYUDA------------------------- -->

                     <div id="modal_ayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                      <h4 class="modal-title">Ayuda - Resultados</h4>
                                  </div>
                                  <div class="modal-body" style="text-align: justify">
                                      <p>----PENDIENTE
                                      </p>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
     <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_totales').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'order': [[ 1, "desc" ]],
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[10, 50, -1], [10, 50, "All"]]
        })
      })
    </script>
    <script>
        $('input').attr('readonly', true);
    </script>
{% endblock %}