{% extends "registration/base/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}

<div class='row' style="margin-top: 10px">
<div class='col-sm-6 col-sm-offset-3'>
    <form method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}

      <input style="margin-bottom: 10px" class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
    </form>
</div>
</div>

{% else %}

<p class='lead'>{% trans "Contraseña no ha sido cambiada." %}</p>

{% endif %}

{% endblock %}