{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% if usuario != '' %}
        {% if expertos %}
		    <input hidden class="col-sm-1" type="number" name="idEstudio" value="0{{estudio.id}}">
        {% else %}
            <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">
        {% endif %}

        {% if expertos and usuario == 'EXPERTO' %}
            <h2>No cuenta con permisos para acceder a esta página</h2>
        {% else %}
            <div class="box">
            <div class="box-header">
              <h3 class="box-title">Histograma de Implicación de los actores {{ numero_matriz }}MAO</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <br>
            <div style="width: 75%">
                <canvas id="canvas"></canvas>
            </div>

                <script src="{% static 'js/jquery.min.js' %}"></script>

            <script>
            var idEstudio = $('input[name="idEstudio"]').val();
            var tipo_grafico = "IMPLICACION"
            var positivos = []
			var negativos = []
            var lista_labels = []

			// se obtienen los datos a graficar
			$.ajax(
                        {
                            data : {'numero_matriz' : {{ numero_matriz }},
                                    'estudio': idEstudio,
                                    'tipo': tipo_grafico},
                            url: 'datos_histograma',
                            type: 'get',
                            success: function (data)
                            {
                                var object = JSON.parse(data);

                                for(var i=0; i<object.labels.length; i++)
                                {
                                    lista_labels.push(object.labels[i])
                                }
                                for(var j=0; j<object.valores_positivos.length; j++)
                                {
                                    positivos.push(object.valores_positivos[j])
									negativos.push(object.valores_negativos[j])
                                }
                                generar()
                            },
                             error: function()
                             {
                                 console.log("Error no se puede graficar")
                             }
                        });

            // se asignan los valores a graficar
			var barChartData = {
				labels: lista_labels,
				datasets: [{
					label: 'Implicación Positiva',
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					data: positivos
				}, {
					label: 'Implicación Negativa',
					backgroundColor: 'rgba(255,99,132,1)',
					data: negativos
				}]
			};

			// Funcion que genera la grafica
			function generar () {
				var ctx = document.getElementById("canvas").getContext("2d");
				window.myBar = new Chart(ctx, {
					type: 'bar',
					data: barChartData,
					options: {
						title:{
							display:true,
							text:"Implicación de los actores"
						},
						tooltips: {
							mode: 'index',
							intersect: false
						},
						responsive: true,
						scales: {
							xAxes: [{
								stacked: true,
							}],
							yAxes: [{
								stacked: true
							}]
						}
					}
				});
			};

            </script>

            <br>
            {% if expertos %}
                <div class="alert alert-info alert-dismissible">
                     <br>
                     <h4>Expertos en consenso = {{expertos}}</h4>
                </div>
            {% endif %}

            <!--BOTONES ------------------------------------ -->

             <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        {% if expertos %}
                            <a class="btn btn-success" href="{% url 'mactor:consenso_mao' estudio.id numero_matriz 0 %}" title="Matriz MID consenso"><i class="fa fa-arrow-left"></i> Atrás</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'mactor:matriz_mao' estudio.id numero_matriz %}" title="Matriz MID"><i class="fa fa-arrow-left"></i> Atrás</a>
                        {% endif %}
                        <a class="btn btn-primary" data-toggle="modal" href="#modal_ayuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                    </div>
             </div>

            </div>
            <!-- /.box-body -->

            <!--INICIO MODAL AYUDA------------------------- -->

		     <div id="modal_ayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Histograma de Implicación</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							 <p>De acuerdo a Castro y Perestrelo (2000), el grado de implicación corresponde al número de
                            objetivos para los que cada actor tiene una posición activa, concordante o discordante.
                            <br>
                            <br>
                              El presente diagrama visualiza, el grado de favorabilidad(implicación positiva) y el grado
                                de desacuerdo (implicación negativa) que cada actor presenta ante los objetivos del estudio.
                            </p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

          </div>
        {% endif %}

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- ChartJS -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}