<div class="row col-md-8 col-md-offset-1">
    {% if usuario == 'COORDINADOR' %}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ preguntas.count }}</h3>
                    <p>Preguntas</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a href="{% url 'entrevista:preguntas' estudio.id %}" class="small-box-footer">Ver cuestionario <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ escala.count }}<small style="color: white"> puntos</small></h3>
                    <p>Escala de Likert</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a href="{% url 'entrevista:escala' estudio.id %}" class="small-box-footer">Ver escala de Likert <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        {% endif %}

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{ rondas }}</h3>
                <p>Rondas de juicios</p>
            </div>
            <div class="icon">
                <i class="fa fa-list"></i>
            </div>
            <a href="{% url 'entrevista:rondas' estudio.id %}" class="small-box-footer">Ver rondas <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    {% if porcentaje or cant_juicios or rondas %}
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    {% if usuario == 'EXPERTO' %}
                        <h3 title="Porcentaje de juicios realizados en la última ronda creada">{{ porcentaje }}</h3>
                    {% else %}
                        <h3 title="Cantidad de juicios realizados en la última ronda creada">{{ cant_juicios }}</h3>
                    {% endif %}
                    <p>Juicios ronda #{{ rondas }}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a href="{% url 'entrevista:juicios' estudio.id %}" class="small-box-footer">Ver juicios <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
            <!-- -->
    {% endif %}

    {% if usuario != 'EXPERTO' %}
        <!-- -->
        {% if coeficiente_ultima_ronda %}
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-orange">
                    <div class="inner">
                        <h3 title="Coeficiente de la última ronda registrada">{{ coeficiente_ultima_ronda.valor }}</h3>
                        <p>Coef. Alfa ronda #{{ coeficiente_ultima_ronda.idRonda.numero_ronda }}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-list"></i>
                    </div>
                    <a href="{% url 'entrevista:historial_coeficientes' estudio.id %}" class="small-box-footer">Coeficientes <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}
        <!-- -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ estudio.idExpertos.count }}</h3>
                    <p>Expertos</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a data-toggle="modal" href="#modal_expertos" class="small-box-footer">Ver expertos<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    {% endif %}
    <!-- ./col -->
</div>