{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <style>
        #tabla_recibidos td, th {text-align: center}
        #tabla_enviados td, th {text-align: center}
    </style>
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'css/select2/css/select2.min.css' %}">
    <style>
        #div_destinatarios li { color: black }
    </style>
{% endblock %}

{% block content %}

    {% if usuario != '' %}
         <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-11" style="margin-top: 10px">
                    <div class="widget-head">
                        <div class="box-header with-border">
                            <h3 class="box-title">Mensajes del estudio: {{ estudio.titulo|slice:":70" }}</h3>
                        </div>
                    </div>
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab_1" data-toggle="tab">Recibidos</a></li>
                          <li><a href="#tab_2" data-toggle="tab">Enviados</a></li>
                          <li><a href="#tab_3" data-toggle="tab">Nuevo Mensaje</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_1">
                            <div class="row" style="text-align: justify">
                                <div class="col-md-12">
                                    <div class="widget-content">
                                        {% include 'messages.html' %}
                                                <div class="padd">
                                                {% if mensajes_recibidos.count > 0 %}
                                                    <table id="tabla_recibidos" class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                          <th>Fecha</th>
                                                          <th>Emisor</th>
                                                          <th style="width: 50%">Mensaje</th>
                                                          <th>Estado</th>
                                                          <th>Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for mensaje in mensajes_recibidos %}
                                                                <tr>
                                                                    <td>{{mensaje.fechaHora}}</td>
                                                                    <td>
                                                                        {% include 'proyecto/mensajes/tipo_usuario_emisor_estudio.html' %}
                                                                    </td>
                                                                    <td>{{mensaje.mensaje}}</td>
                                                                    <td>
                                                                        {% if mensaje.estado %}
                                                                            <a id="mensaje{{mensaje.id}}" class="btn btn-sm btn-success" title="Visto"><i class="fa fa-check"></i></a>
                                                                        {% else %}
                                                                            <a id="mensaje{{mensaje.id}}" class="btn btn-sm btn-danger" title="Sin leer"><i class="fa fa-times"></i></a>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-primary" title="Ver" href="{% url 'proyecto:ver_mensaje_estudio' mensaje.id %}">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tfoot>
                                                      </table>
                                                {% else %}
                                                    <h3>No ha recibido mensajes dentro de este estudio.</h3>
                                                {% endif %}
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-8 col-md-offset-3">
                                                        <a class="btn btn-success" href="{% url 'proyecto:ver_estudios_proyecto' estudio.idProyecto_id %}" title="Estudios del proyecto"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_2">
                               <div class="row">
                                   <div class="col-md-12">
                                       <div class="widget-content">
                                                <div class="padd">
                                                {% if mensajes_enviados.count > 0 %}
                                                    <table id="tabla_enviados" class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                          <th>Fecha</th>
                                                          <th style="width: 50%">Mensaje</th>
                                                          <th>Destinatarios</th>
                                                          <th>Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for mensaje in mensajes_enviados %}
                                                                <tr>
                                                                    <td>{{mensaje.fechaHora}}</td>
                                                                    <td>{{mensaje.mensaje}}</td>
                                                                    <td>{{mensaje.idDestinatarios.count}}</td>
                                                                    <td>
                                                                        <a class="btn btn-primary" title="Ver" href="{% url 'proyecto:ver_mensaje_estudio' mensaje.id %}">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tfoot>
                                                      </table>
                                                {% else %}
                                                    <h3>No ha enviado mensajes dentro de este estudio.</h3>
                                                {% endif %}
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-8 col-md-offset-3">
                                                        <a class="btn btn-success" href="{% url 'proyecto:ver_estudios_proyecto' estudio.idProyecto_id %}" title="Estudios del proyecto"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                    </div>
                                                </div>
                                            </div>
                                   </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_3">
                               <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget-content">
                                            <div class="padd">
                                                    <hr/>

                                                {% include 'messages.html' %}

                                                    <!-- Form starts.  -->
                                                <form id="nuevo_mensaje" class="form-horizontal" role="form" method="post">
                                                    {% csrf_token %}

                                                    <div class="row">
                                                        <div class="col-md-8 col-md-offset-1">
                                                            <div class="form-group">
                                                                <label class="control-label" style="text-align: left">Destinatarios*</label>
                                                                {% include 'proyecto/mensajes/select_destinatarios_estudios.html' %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" id="div_destinatarios" hidden>
                                                        <div class="col-md-8 col-md-offset-1">
                                                            {{ form.errors }}
                                                            <div class="form-group">
                                                                <label class="control-label" style="text-align: left">Destinatarios seleccionados*</label>
                                                                <select multiple name="idDestinatarios" class="form-control select2" required id="id_idDestinatarios"></select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-8 col-md-offset-1">
                                                            {{ form.mensaje|as_crispy_field }}
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <div class="form-group">
                                                        <div class="col-md-8 col-md-offset-3">
                                                            <a class="btn btn-success" href="{% url 'proyecto:ver_estudios_proyecto' estudio.idProyecto_id %}" title="Estudios del proyecto"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                            <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Enviar</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                            </div>
                                    </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                      </div>
                      <!-- nav-tabs-custom -->
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
     <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_recibidos').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'order': [[ 0, "desc" ]],
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[10, 50, -1], [10, 50, "All"]]
        })
      })
    </script>
    <script>
      $(function () {
        $('#tabla_enviados').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'order': [[ 0, "desc" ]],
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[10, 50, -1], [10, 50, "All"]]
        })
      })
    </script>

    <!-- Select2 -->
    <script src="{% static 'js/select2/js/select2.full.min.js' %}"></script>
    <script>
        $(function ()
        {
            //Initialize Select2 Elements
            $('.select2').select2()
        })
    </script>

    <!-- al cargar la pagina se tiene como destinatarios a todos los participantes del proyecto-->
    <script type="text/javascript">
        window.addEventListener("load",function()
        {
            var sel = document.getElementById('id_idDestinatarios');
            var element = document.getElementById("tipos_destinatarios");
            var opcion = element.options[element.selectedIndex].value;

            $.ajax({
                data : {'idEstudio' : {{estudio.id}}, 'tipoEstudio': {{ estudio.tipoTecnica.codigo }}, 'tipo': opcion},
                url : 'destinatarios_estudios',
                type : 'get',
                success : function (data)
                {
                    var object = JSON.parse(data);

                    for (var j=0;j<object.ids.length; j++)
                    {
                        var opt = document.createElement('option');
                        opt.text = object.ids[j];
                        opt.value = object.ids[j];
                        opt.setAttribute(['selected'], true);
                        sel.add(opt, null);
                    }
                }
            });
        },false);
    </script>

    <!-- al cambiar los destinatarios seleccionados en el primer select -->
    <script>
        $('#tipos_destinatarios').on('change', obtener_destinatarios);
        function  obtener_destinatarios()
        {
            var element = document.getElementById("tipos_destinatarios");
            var opcion = element.options[element.selectedIndex].value;
            var sel = document.getElementById('id_idDestinatarios');

            // borrar el contenido del select
            function removeOptions(selectbox)
            {
                var i;
                for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
                {
                    selectbox.remove(i);
                }
            }
            removeOptions(sel);

            // se envian mediante ajax los parametros
            $.ajax({
                data : {'idEstudio' : {{estudio.id}}, 'tipoEstudio': {{ estudio.tipoTecnica.codigo }}, 'tipo': opcion},
                url : 'destinatarios_estudios',
                type : 'get',
                success : function (data)
                {
                    var object = JSON.parse(data);

                    for (var j=0;j<object.ids.length; j++)
                    {
                        var opt = document.createElement('option');
                        opt.text = object.ids[j];
                        opt.value = object.ids[j];
                        opt.setAttribute(['selected'], true);
                        sel.add(opt, null);
                    }
                }
            });
        }
    </script>
    <script src="{% static 'js/proyecto/cambiarEstadoMensaje.js' %}"></script>
{% endblock %}