<!-- select con destintarios dependiendo del tipo de estudio y el tipo de usuario que va a enviar el mensaje -->

{% if estudio.tipoTecnica.codigo == 1 or estudio.tipoTecnica.codigo == 2  %}
        {% if mensaje.idEmisor.id == estudio.idAdministrador.id %}
            Administrador
        {% elif mensaje.idEmisor.id == estudio.idCoordinador.id %}
            Coordinador
        {% elif mensaje.idEmisor in estudio.idExpertos.all %}
            Exp. {{mensaje.idEmisor}}
        {% endif %}

{% elif estudio.tipoTecnica.codigo == 3 %}
    {% if mensaje.idEmisor.id == estudio.idAdministrador.id %}
            Administrador
    {% elif mensaje.idEmisor in estudio.idCoordinadores.all %}
        Coordinador
    {% elif mensaje.idEmisor in estudio.idExpertos.all %}
        Exp. {{mensaje.idEmisor}}
    {% endif %}
{% endif %}
