{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <!-- DataPicker -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block content %}
    {% if  usuario != 'EXPERTO' and usuario != '' and sesion.fecha_final >= hoy %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Editar sesion - #{{sesion.numero_sesion}}</h3>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
										<hr/>
                                {% include 'messages.html' %}
										<!-- Form starts.  -->
                                    {% if sesion.id == ultima_sesion.id %}
                                        <form class="form-horizontal" role="form" method="post">
                                        {% csrf_token %}

                                        <div class="row" hidden>
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    {{form.numero_sesion.errors}}
                                                    {{ form.numero_sesion|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    {{ form.tipo|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    {{ form.descripcion|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                {{ form.fecha_inicio|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    {{ form.fecha_final|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>

                                         <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    {{ form.estado|as_crispy_field }}
                                                </div>
                                            </div>
                                         </div>

                                        <div  class="row">
                                            <div class="col-md-3 col-md-offset-1" hidden>
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Estudio</label>
                                                    <input class="form-control" type="text" value="{{form.idEstudio.value}}" name="idEstudio">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'abaco:sesiones' form.idEstudio.value %}" title="Sesiones"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Guardar</button>
                                            </div>
                                        </div>

                                    </form>
                                    {% else %}
                                        <h3>Solo puede editar la última sesión registrada</h3>
                                        <br>
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:rondas' ronda.idEstudio.id %}" title="Rondas"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- Datapicker -->
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/abaco/controlFechas.js' %}"></script>
{% endblock %}


