{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
	<!-- DataTables -->
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

	<style>
		#tabla_proyectos td, th {
			text-align: center
		}
	</style>
{% endblock %}

{% block content %}

	{% if user.is_active %}

		{% include 'messages.html' %}

		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Proyectos Prospectivos</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				{% if proyectos %}

					<table id="tabla_proyectos"
					       class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Rol</th>
						<th>Inicio</th>
						<th>Cierre</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
					</thead>
					<tbody>
					{% for proyecto in proyectos %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>
								<a href="{% url 'proyecto:ver_estudios_proyecto' proyecto.id %}"
								   style="color: #0a6aa1 ">{{ proyecto.nombre|slice:":50" }}</a>
							</td>
							<td>
								{% if user.id == proyecto.idAdministrador.id %}
									Administrador
								{% elif user in  proyecto.idCoordinadores.all %}
									Coordinador
								{% else %}
									Experto
								{% endif %}
							</td>
							<td>{{ proyecto.fecha_inicio }}</td>
							<td>{{ proyecto.fecha_final }}</td>
							<td>
								{% if proyecto.estado %}
									<a class="btn btn-sm btn-success" title="Abierto"><i
										class="fa fa-check"></i></a>
								{% else %}
									<a class="btn btn-sm btn-danger" title="Cerrado"><i
										class="fa fa-times"></i></a>
								{% endif %}
							</td>
							<td>
								<a class="btn btn-primary" title="Ver"
								   href="{% url 'proyecto:ver_proyecto' proyecto.id %}">
									<i class="fa fa-eye"></i>
								</a>

								{% if request.user == proyecto.idAdministrador %}
									<a class="btn btn-warning" title="Editar"
									   href="{% url 'proyecto:editar_proyecto' proyecto.id %}">
										<i class="fa fa-pencil"></i>
									</a>
									<a class="btn btn-danger delete" title="Eliminar"
									   href="{% url 'proyecto:eliminar_proyecto' proyecto.id %}">
										<i class="fa fa-trash"></i>
									</a>
								{% endif %}

								<a class="btn btn-info" title="Mensajes del proyecto"
								   href="{% url 'proyecto:mensajes' proyecto.id %}">
									<i class="fa fa-envelope"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<h3>Actualmente no cuenta con proyectos prospectivos registrados.</h3>
				{% endif %}

				</table>


				<div class="row">
					<div class="form-group">
						<div class="col-md-8 col-md-offset-3">
							<a class="btn btn-primary" data-toggle="modal" href="#myModal"
							   title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-body -->

			<!--INICIO MODAL AYUDA------------------------- -->

			<div id="myModal" class="modal fade" tabindex="-1" role="dialog"
			     aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
							        aria-hidden="true">X
							</button>
							<h4 class="modal-title">Ayuda - Lista de proyectos</h4>
						</div>
						<div class="modal-body" style="text-align: justify">
							<p>En la presente tabla se muestran los proyectos prospectivos en
								los cuales usted ejerce alguna
								participación, evidenciadose el rol principal que usted posee
								dentro del mismo.
							</p>
							<p>Tenga en cuenta que solo puede aplicar cambios dentro de los
								proyectos donde ocupe el rol
								de administrador.
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"
							        aria-hidden="true">Cerrar
							</button>
						</div>
					</div>
				</div>
			</div>


		</div>

	{% else %}
		<h3>Por favor active su cuenta.</h3>
	{% endif %}

{% endblock %}

{% block extra_js %}

	<!-- DataTables -->
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
	<script>
		$(function () {
			$('#tabla_proyectos').DataTable({
				'paging': true,
				'lengthChange': true,
				'searching': true,
				'ordering': false,
				'info': true,
				'autoWidth': true
			})
		})
	</script>

{% endblock %}