<!--Manejador de las opciones ver, editar, eliminary mensajes por tipo de estudio-->

    {% if estudio.prosp.tipoTecnica.codigo == 1 %}
        <a class="btn btn-primary" title="Ver" href="{% url 'mactor:consultar_estudio' estudio.prosp.id %}">
            <i class="fa fa-eye"></i>
        </a>

        {% if request.user == estudio.prosp.idAdministrador %}
            {% if estudio.prosp.idProyecto.estado %}
                <a class="btn btn-warning" title="Editar" href="{% url 'mactor:editar_estudio' estudio.prosp.id %}"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="Eliminar" href="{% url 'mactor:eliminar_estudio' estudio.prosp.id %}"> <i class="fa fa-trash"></i></a>
            {% else %}
                <a class="btn btn-warning" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-trash"></i></a>
            {% endif %}
        {% endif %}

    {% elif estudio.prosp.tipoTecnica.codigo == 2 %}
        <a class="btn btn-primary" title="Ver" href="{% url 'entrevista:consultar_estudio' estudio.prosp.id %}">
            <i class="fa fa-eye"></i>
        </a>

        {% if request.user == estudio.prosp.idAdministrador %}
            {% if estudio.prosp.idProyecto.estado %}
                <a class="btn btn-warning" title="Editar" href="{% url 'entrevista:editar_estudio' estudio.prosp.id %}"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="Eliminar" href="{% url 'entrevista:eliminar_estudio' estudio.prosp.id %}"> <i class="fa fa-trash"></i></a>
            {% else %}
                <a class="btn btn-warning" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-trash"></i></a>
            {% endif %}
        {% endif %}

    {% elif estudio.prosp.tipoTecnica.codigo == 3 %}
        <a class="btn btn-primary" title="Ver" href="{% url 'abaco:consultar_estudio' estudio.prosp.id %}">
            <i class="fa fa-eye"></i>
        </a>

        {% if request.user == estudio.prosp.idAdministrador %}
            {% if estudio.prosp.idProyecto.estado %}
                <a class="btn btn-warning" title="Editar" href="{% url 'abaco:editar_estudio' estudio.prosp.id %}"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="Eliminar" href="{% url 'abaco:eliminar_estudio' estudio.prosp.id %}"> <i class="fa fa-trash"></i></a>
            {% else %}
                <a class="btn btn-warning" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-trash"></i></a>
            {% endif %}
        {% endif %}

    {% elif estudio.prosp.tipoTecnica.codigo == 4 %}
        <a class="btn btn-primary" title="Ver" href="{% url 'brainstorming:consultar_estudio' estudio.prosp.id %}">
            <i class="fa fa-eye"></i>
        </a>

        {% if request.user == estudio.prosp.idAdministrador %}
            {% if estudio.prosp.idProyecto.estado %}
                <a class="btn btn-warning" title="Editar" href="{% url 'brainstorming:editar_estudio' estudio.prosp.id %}"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="Eliminar" href="{% url 'brainstorming:eliminar_estudio' estudio.prosp.id %}"> <i class="fa fa-trash"></i></a>
            {% else %}
                <a class="btn btn-warning" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-trash"></i></a>
            {% endif %}
        {% endif %}

        {% elif estudio.prosp.tipoTecnica.codigo == 5 %}
        <a class="btn btn-primary" title="Ver" href="{% url 'multipol:detalle_estudio' estudio.prosp.id %}">
            <i class="fa fa-eye"></i>
        </a>

        {% if request.user == estudio.prosp.idAdministrador %}
            {% if estudio.prosp.idProyecto.estado %}
                <a class="btn btn-warning" title="Editar" href="{% url 'multipol:editar_estudio' estudio.prosp.id %}"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="Eliminar" href="{% url 'multipol:eliminar_estudio' estudio.prosp.id %}"> <i class="fa fa-trash"></i></a>
            {% else %}
                <a class="btn btn-warning" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" title="El proyecto se encuentra cerrado." disabled="True"> <i class="fa fa-trash"></i></a>
            {% endif %}
        {% endif %}
    {% endif %}

    <a class="btn btn-info" title="Mensajes del estudio" href="{% url 'proyecto:mensajes_estudio' estudio.prosp.id estudio.prosp.tipoTecnica.codigo %}">
        <i class="fa fa-envelope"></i>
    </a>
