{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

    <style>
        #tabla_expertos th, td {text-align: center}
        #tabla_coordinadores th, td {text-align: center}
    </style>
 {% endblock%}

{% block content %}

    {% include 'messages.html' %}

    {% if usuario != '' %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Detalle del estudio - {{ estudio.tipoTecnica.nombre }}</h3>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">

                                     <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label" style="text-align: left">Nombre del estudio</label>
                                                <input class="form-control" style="background-color: white" readonly value="{{ estudio.titulo }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label" style="text-align: left">Temática</label>
                                                <textarea class="form-control" style="background-color: white" rows="2" readonly>{{ estudio.tematica }}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label" style="text-align: left">Inicio</label>
                                                <input class="form-control" style="background-color: white" readonly value="{{ estudio.fecha_inicio }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label" style="text-align: left">Cierre</label>
                                                <input class="form-control" style="background-color: white" readonly value="{{ estudio.fecha_final }}">
                                            </div>
                                        </div>
                                    </div>

                                    {% if usuario != 'EXPERTO' %}
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Coordinador</label>
                                                    <input class="form-control" style="background-color: white" readonly value="{{ estudio.idCoordinador }}">
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                <!-- -->

                                {% include 'brainstorming/estudio/modals_consultar_estudio/data_boxes_consultar_estudio.html' %}

                                <!-- -->

                                        <div class="row form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'proyecto:ver_estudios_proyecto' estudio.idProyecto_id %}" title="Estudios del proyecto"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            </div>
                                        </div>
                                <!-- -->

                                    {% include 'brainstorming/estudio/modals_consultar_estudio/modal_expertos.html' %}
                                </div>
                            </div>

                    </div>
                </div>
            </div>
</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}

    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_expertos').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[5, 10], [5, 10]]
        })
      })
    </script>

{% endblock %}




