{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

    <style>
        #tabla_ideas th, td {text-align: center}
    </style>
{% endblock%}

{% block content %}
    {% if usuario != '' %}

        {% include 'messages.html' %}

        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Ideas: ({{ ideas.count }})</h3>

              {% include 'abaco/estudio/select_datos_estudio.html' %}

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% if ideas %}

              <table id="tabla_ideas" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Título</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Fecha registro</th>
                  <th id="acciones">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for idea in ideas %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{idea.titulo}}</td>
                            <td>{{idea.descripcion|truncatechars:100}}</td>
                            <td>
                                {%if idea.estado %}
                                    <a class="btn btn-sm btn-success" title="Idea en uso"><i class="fa fa-check"></i></a>
                                {%else%}
                                    <a class="btn btn-sm btn-danger" title="Idea Sin usar"><i class="fa fa-times"></i></a>
                                {% endif %}
                            </td>
                            <td>{{idea.fecha}}</td>
                            <td style="width: 15%">
                                <a class="btn btn-primary" href="{% url 'abaco:consultar_idea' idea.id %}" title="Ver"><i class="fa fa-eye"></i></a>
                                {% if idea.idCreador.id == request.user.id or request.user in estudio.idCoordinadores.all %}
                                    {% if estudio.estado and estudio.estadoValoraciones is False %}
                                        <a class="btn btn-warning .edit" href="{% url 'abaco:editar_idea' idea.id %}" title="Editar"><i class="fa fa-pencil"></i></a>
                                        {% if valoraciones == 0 %}
                                            <a class="btn btn-danger delete" href="{% url 'abaco:eliminar_idea' idea.id %}" title="Eliminar"><i class="fa fa-trash"></i></a>
                                        {% endif %}
                                    {% else %}
                                        <a class="btn btn-warning .edit" disabled="True" title="Esta idea no puede editar."><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger delete" disabled="True" title="Esta idea no se puede eliminar."><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h3>No existen ideas registradas.</h3>
                {% endif %}
                </tfoot>
              </table>

            <!--BOTONES ------------------------------- -->

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                            {% if estudio.estado and estudio.estadoValoraciones is False %}
                                <a class="btn btn-primary" href="{% url 'abaco:nueva_idea' estudio.id %}" title="Agregar idea"><i class="fa fa-plus"></i> Agregar</a>
                            {% else %}
                                <a class="btn btn-primary" disabled="True" title="El estudio se encuentra cerrado o ha iniciado la fase de evaluación de las ideas."><i class="fa fa-plus"></i> Agregar</a>
                            {% endif %}
                        <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                    </div>
                </div>

             <!--MODAL AYUDA------------------------- -->

		    <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Actores</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							  <p>-----PENDIENTE----</p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

            </div>
            <!-- /.box-body -->
          </div>

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_ideas').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[10, 50, -1], [10, 50, "All"]]
        })
      })
    </script>
{% endblock %}