{% extends "base.html" %}
{% block estilos %}
 {{ block.super }}
<!-- DataTables -->
  <link rel="stylesheet" href="{% staic 'css/dataTables.bootstrap.min.css'%}">

{% endblock %}
{% block content %}
    <div class="box-header">
              <h3 class="box-title">Estudios Delphi</h3>
              <a href="{% url 'delphi:crear_cuestionario' object.id %}" class="widget-icons"><i style ="float: right;" class="fa fa-plus-circle">Agergar</i></a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th style="width: 30px">Título</th>
                  <th style="width: 30px">Proyecto(s)</th>
                  <th style="width: 10px">Fecha Inicio</th>
                  <th style="width: 10px">Fecha Final</th>
                  <th style="width: 10px">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Mi primer Delphi
                  </td>
                  <td>Proyecto Casitas nuevas</td>
                  <td>20/01/2018</td>
                  <td>20/04/2018</td>
                  <td>
                    <a class="label label-success" href="{% url 'delphi:detalle_cuestionario' cuestionario.id%}"> <i class="fa fa-eye"></i></a>
                    <a class="label label-warning" href="{% url 'delphi:editar_cuestionario' cuestionario.id%}"> <i class="fa fa-pencil"></i></a>
                    <a class="label label-primary" href="#"> <i class="fa fa-book"></i></a>
                    <a href="#modaleliminar" role ="button" class="label label-danger" data-toggle="modal" id="{{delphi.id}}" data-name="{{delphi.titulo}}"><i class=" fa fa-times"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Delphi de Predicción
                  </td>
                  <td>Quien ganará la presidencia de colombia</td>
                  <td>21/02/2018</td>
                  <td>21/06/2018</td>
                  <td>
                    <a class="label label-success" href="{% url 'delphi:detalle_cuestionario' cuestionario.id%}"> <i class="fa fa-eye"></i></a>
                    <a class="label label-warning" href="{% url 'delphi:editar_cuestionario' cuestionario.id%}"> <i class="fa fa-pencil"></i></a>
                    <a class="label label-primary" href="#"> <i class="fa fa-book"></i></a>
                    <a href="#modaleliminar" role ="button" class="label label-danger" data-toggle="modal" id="{{delphi.id}}" data-name="{{delphi.titulo}}"><i class=" fa fa-times"></i></a>
                  </td>
                </tr>


                </tbody>
                <tfoot>
                <tr>
                  <th style="width: 10px">#</th>
                  <th style="width: 30px">Título</th>
                  <th style="width: 30px">Proyecto(s)</th>
                  <th style="width: 10px">Fecha Inicio</th>
                  <th style="width: 10px">Fecha Final</th>
                  <th style="width: 10px">Opciones</th>
                </tr>
                </tfoot>
              </table>
            </div>
{% endblock content %}
{% block scripting %}
 {{ block.super }}
<!-- DataTables -->
    <script src="{% static 'fastclick.js' %}"></script>
<script src="{% static 'jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dataTables.bootstrap.min.js' %}"></script>
    <script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}
