{% extends 'base.html' %} 
{% load staticfiles %} 
{% block title %} Multipol{%endblock %} 
{% block content %}

<section class="content">
  <!-- Small boxes (Stat box) -->
  {% if usuario != '' %}
  {% if usuario == 'COORDINADOR' %}
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>Acciones</h3>

          <p>Lista de acciones o proyectos</p>
        </div>
        <div class="icon">
          <i class="fa fa-gears"></i>
        </div>
        <a href="{% url 'multipol:lista_accion' estudio.id %}"class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>Criterios</h3>

          <p>Lista de criterios</p>
        </div>
        <div class="icon">
          <i class="fa fa-list-alt"></i>
        </div>
        <a href="{% url 'multipol:lista_criterio' estudio.id %}" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>Políticas</h3>

          <p>Lista de políticas</p>
        </div>
        <div class="icon">
          <i class="fa fa-clipboard"></i>
        </div>
        <a href="{% url 'multipol:lista_politica' estudio.id %}" class="small-box-footer" >Más información <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  {% endif %}

  <!--  ESTA PARTE ES PARA LAS EVALUACIONES DE LAS VARIABLES-->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4>Evaluacion de Acciones/Criterios</h4>

          <p>Matriz de relaciones entre acciones y criterios</p>
        </div>
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        <a href="{% url 'multipol:evaluacion_criterio_accion' estudio.id %}" class="small-box-footer" >Más información <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h4>Evaluacion de Políticas/Criterios</h4>

          <p>Matriz de relaciones entre políticas y criterios</p>
        </div>
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        <a href="{% url 'multipol:evaluacion_criterio_politica' estudio.id %}" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4>Evaluacion de Acciones/Políticas</h4>

          <p>Matriz de relaciones entre acciones y políticas</p>
        </div>
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        <a href="{% url 'multipol:evaluacion_accion_politica' estudio.id %}" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
      </div>
      <div class="clearfix">
        <a href="{% url 'proyecto:ver_estudios_proyecto' proyecto.id %}" class="btn btn-default"><i class="fa fa-arrow-circle-left"> </i>Regresar</a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  {% else %}
  	<h1>Usted no se encuentra registrado</h1>
  {% endif %}
</section>

{% endblock %}
