{% load static %}
<!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">

        <li><a href="{% url 'proyecto:proyectos_prospectivos' %}"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
          {% if perms.proyecto.add_proyecto %}
        <li><a href="{% url 'proyecto:nuevo_proyecto' %}"><i class="fa fa-edit"></i> <span>Crear nuevo Proyecto</span></a></li>
          {% endif %}

      <!-- Despliega una lista con las tecnicas que se estan implementando en el estudio -->

        {% if estudios %}

        <li class="treeview">
          <a href="#">
            <i class="fa fa-list"></i> <span>Estudios del proyecto</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ><i class="fa fa-circle-o"></i> Todos los estudios</a></li>
          </ul>
        </li>

      {% endif %}


        <li class="header">Documentación</li>
           <li class="treeview">
          <a href="#">
            <i class="fa fa-list"></i> <span>Técnicas prospectivas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-circle-o"></i> Entrevista</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> MACTOR</a></li>
          </ul>
        </li>

           <li class="treeview">
          <a href="#">
            <i class="fa fa-book"></i> <span>Manuales de Usuario</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-circle-o"></i> Manual DELPHI</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Manual Entrevista</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Manual MACTOR</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>