<!--Opciones que dan acceso a los diferentes datos del estudio mactor-->

<select style="float: right" onchange="location = this.value;">
    <option value="">Opciones</option>
    <option value="{% url 'proyecto:ver_estudios_proyecto' estudio.idProyecto_id %}">Estudios del proyecto</option>
    <option value="{% url 'proyecto:ver_proyecto' estudio.idProyecto_id %}">Detalle del proyecto</option>
    <option value="{% url 'abaco:consultar_estudio' estudio.id %}">Detalle del estudio</option>
    {% if usuario != 'EXPERTO' %}
        <option value="{% url 'abaco:sesiones' estudio.id %}">Sesiones</option>
    {% endif %}
    <option value="{% url 'abaco:ideas' estudio.id %}">Ideas</option>
    {% if usuario != 'EXPERTO' %}
        <option value="{% url 'abaco:reglas' estudio.id %}">Reglas</option>
    {% endif %}
    <option value="{% url 'abaco:valoraciones' estudio.id %}">Valoraciones</option>
    <option value="{% url 'abaco:exportar_excel' estudio.id %}">Descargar datos</option>
</select>