<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div class="form-group">
            <p>
                <a class="btn btn-primary" title="Estudios Brainstorming y Ábaco de Regnier registrados" style="float: right; margin-top: 8px" data-toggle="collapse" href="#collapse_tabla_estudios_registrados" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-bank"></i> Banco de estudios
                </a>
            </p>
            <br>
            <br>
            <div class="collapse" id="collapse_tabla_estudios_registrados">
                <div class="card card-body">
                    {% if banco_estudios_abaco or banco_estudios_brain %}
                        <table id="tabla_estudios_registrados" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width:30px">Técnica</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th style="width:20px">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for abaco in banco_estudios_abaco %}
                                {% if abaco.id != estudio.id %}
                                    <tr>
                                        <td>Ábaco de Regnier</td>
                                        <td>{{abaco.titulo}}</td>
                                        <td>{{abaco.tematica|truncatechars:50}}</td>
                                        <td>
                                            <a id="abaco{{abaco.id}}" class="btn btn-primary" title="Importar ideas del estudio"><i class="fa fa-arrow-circle-o-down"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            {% for brain in banco_estudios_brain %}
                                <tr>
                                    <td>Brainstorming</td>
                                    <td>{{brain.titulo}}</td>
                                    <td>{{brain.tematica|truncatechars:50}}</td>
                                    <td>
                                        <a id="brain{{brain.id}}" class="btn btn-primary" title="Importar ideas del estudio"><i class="fa fa-arrow-circle-o-down"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3>No existen estudios Braintorming o Ábaco de Regnier donde ejerza el rol de administrador o coordinador.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>