{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}
	Agregar Criterio
{% endblock %}
{% block content %}
	<div class="box box-success">
		<div class="row">
			<!-- left column -->
			<div class="col-md-6">
				<!-- general form elements -->
				<div class="box-header with-border">
					<h3 class="box-title">Formulario de Criterios</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->

				<!-- Form starts.  -->
				<form class="" role="form" method="post" action="{% url 'multipol:add_criterio' estudio.id %}">
					<div class="form-group">
						<div class="box-body">
							{% csrf_token %}
							<div class="form-control hidden">
								<input type="text" name="estudio" value="{{ estudio.id }}">

							</div>
							<p>
								{{ form.shortNameC|as_crispy_field }}
							</p>
							<p>
								{{ form.longNameC|as_crispy_field }}
							</p>
                            <p>
								{{ form.pesoC|as_crispy_field }}
							</p>
							<p>
								{{ form.descriptionC|as_crispy_field }}
							</p>
						</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-success">Agregar criterio
							</button>
							<a href="{% url 'multipol:lista_criterio' estudio.id %}">
								<button type="button" class="btn btn-primary">Regresar</button>
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}