{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% if usuario != '' %}
        {% if usuario == 'EXPERTO' %}
            <h2>No cuenta con permisos para acceder a esta página.</h2>
        {% else %}
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <br>
                <div style="width: 75%">
                    <canvas id="canvas"></canvas>
                </div>

                    <script src="{% static 'js/jquery.min.js' %}"></script>

                <script>
                var lista_labels = [];
                var lista_valores = [];

                // se obtienen los datos a graficar
                $.ajax(
                            {
                                data : {'idea': {{ idea.id }}},
                                url: 'datos_grafico_totales',
                                type: 'get',
                                success: function (data)
                                {
                                    var object = JSON.parse(data);

                                    for(var i=0; i<object.labels.length; i++)
                                    {
                                        lista_labels.push(object.labels[i]);
                                        lista_valores.push(object.valores[i]);
                                    }
                                    generar();
                                },
                                 error: function()
                                 {
                                     console.log("Error no se puede graficar")
                                 }
                            });

                // se asignan los valores a graficar
                var barChartData = {
                    labels: lista_labels,
                    datasets: [{
                        label: '{{ idea.titulo }}',
                        backgroundColor: ['#008000', '#90EE90', '#FFFF00', '#FFC0CB', '#FF0000', 'blue', '#000000'],
                        data: lista_valores
                    }
                    ]
                };

                // Funcion que genera la grafica
                function generar () {
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myBar = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            title:{
                                display:true,
                                text:"Gráfico de Barras de las valoraciones de los expertos"
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false
                            },
                            responsive: true,
                            scales: {
                                xAxes: [{
                                    stacked: true
                                }],
                                yAxes: [{
                                    stacked: true
                                }]
                            }
                        }
                    });
                }

                </script>

                <br>

                <!--BOTONES ------------------------------------------------- -->

                 <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                                <a class="btn btn-success" href="{% url 'abaco:resultados' idea.idEstudio.id %}" title="Matriz MID consenso"><i class="fa fa-arrow-left"></i> Atrás</a>
                        </div>
                 </div>

                </div>
                <!-- /.box-body -->
              </div>
        {% endif %}

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- ChartJS -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}