{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Evaluación Criterio Política
{% endblock %}
{% block extra_css %}
<style>
  .example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
  }

  .example-modal .modal {
    background: transparent !important;
  }
</style>
{% endblock %}
{% block content %}

<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <!-- general form elements -->
    <div class="box-header with-border">
      <h3 class="box-title">Tabla de evaluación de políticas respecto a criterios</h3>
    </div>

    <div class="widget-content">
      {% if user == estudio.idCoordinador %}
      <div class="box-body">
        <form class="form" method="POST" id="evaluation_form"
          action="{% url 'multipol:evaluacion_criterio_politica' estudio.id %}">
          <table class="table table-bordered">
            {% csrf_token %}
            <thead>
              <tr>
                <td></td>
                {% for criterio in criterios %}
                <td>{{ criterio.short_name }}</td>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for politica in politicas %}
              <tr>
                <td>{{ politica.short_name }}</td>
                {% for criterio in criterios %}
                <td>
                  <div class="input-group">
                    <input type="text" name="q" class="form-control calificacion" data-criterio="{{ criterio.id }}"
                      data-accion="{{ politica.id }}" placeholder="Valor" value="0" min="0" />
                    <span class="input-group-btn">
                      <button type="button" name="view" id="view-btn" class="btn btn-default">
                        <i class="fa fa-eye"></i>
                      </button>
                    </span>
                  </div>
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
        <div class="box-footer">
          <!-- Buttons -->
          <div class="col-lg-offset-3 col-lg-9">
            <button type="submit" id="guardar_eval" class="btn btn-success">
              <i class="fa fa-save"> </i> Agregar evaluación
            </button>
            <button type="button" class="btn btn-danger">Importar</button>
            <button type="button" class="btn btn-default">Exportar</button>
            <a href="{% url 'multipol:detalle_estudio' estudio.id %}" class="btn btn-default">
              <i class="fa fa-arrow-circle-left"> </i>Regresar</a>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      {% else %}
      {% if user in estudio.idExpertos.all %}
      <div class="box-body">
        <table class="table table-bordered">
          {% csrf_token %}
          <thead>
            <tr>
              <td></td>
              {% for criterio in criterios %}
              <td>{{ criterio.short_name }}</td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for politica in politicas %}
            <tr>
              <td>{{ politica.short_name }}</td>
              {% for criterio in criterios %}
              <td class="eval">
                <div class="input-group">
                  <span class="input-group-btn">
                    {% if evaluacion_cp %}
                    <button type="button" name="boton-eval" data-politica="{{ politica.id }}"
                      data-politica-name="{{ politica.short_name }}" data-criterio-name="{{ criterio.short_name }}"
                      data-criterio="{{ criterio.id }}" id="{{ politica.id }}-{{ criterio.id }}"
                      class="btn btn-success show-criteria-action" data-toggle="modal" data-target="#modal-default">

                      {% for ecp in evaluacion_cp %}
                      {% if ecp.politica.id == politica.id and ecp.criterio.id == criterio.id %}
                      <span data-evaluacion="{{ecp.id}}" data-puntuacion="{{ ecp.puntuacion }}"
                        data-opinion="{{ ecp.opinion }}" id="ecp_puntuacion">{{ ecp.puntuacion }}</span>
                      {% else %}

                      {% endif %}
                      {% endfor %}

                    </button>
                    {% else %}
                    <button type="button" name="boton-eval" data-politica="{{ politica.id }}"
                      data-politica-name="{{ politica.short_name }}" data-criterio-name="{{ criterio.short_name }}"
                      data-criterio="{{ criterio.id }}" id="{{ politica.id }}-{{ criterio.id }}"
                      class="btn btn-success show-criteria-politica" data-toggle="modal" data-target="#modal-default">

                      <span class="fa fa-check"></span>

                    </button>
                    {% endif %}

                  </span>

                </div>

              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% include "multipol/evaluaciones/modal_evaluacion_CP.html" %}
      <div class="box-footer">
        <!-- Buttons -->
        <div class="form-group">
          <div class="col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn btn-success">
              Agregar evaluación
            </button>
            <button type="button" class="btn btn-danger">Importar</button>
            <button type="button" class="btn btn-default">Exportar</button>
            <a href="{% url 'multipol:detalle_estudio' estudio.id %}" class="btn btn-default"><i
                class="fa fa-arrow-circle-left"></i>Regresar
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      {% else %}
      <div class="box-body">
        {{ estudio.idExpertos.id }}
        <p> Usted no se encuentra registrado en este estudio </p>
        <a href="{% url 'multipol:detalle_estudio' estudio.id %}" class="btn btn-default">
          <i class="fa fa-arrow-circle-left"> </i>Regresar</a>
      </div>
      {% endif %}

      {% endif %}

    </div>

    {% endblock %}
    {% block extra_js %}

    <script>
      let botones_eval = document.querySelectorAll('button[name="boton-eval"]');

      botones_eval.forEach(eval => {
        eval.addEventListener("click", function (evt) {
          const form = document.querySelector(".modal-criteria-politica");
          const politicaInp = document.querySelector("input[name='politica']");
          const criterioInp = document.querySelector("input[name='criterio']");
          const puntuacionInp = document.querySelector("input[name='puntuacion']");
          const opinionInp = document.querySelector("input[name='opinion']");
          const politicaTxt = document.querySelector("#politica-name");
          const criterioTxt = document.querySelector("#criterio-name");

          const puntuationElem = document.getElementById("ecp_puntuacion");
          const opinionElem = evt.target.children.ecp_opinion;

          if (puntuationElem) {
            const { puntuacion, evaluacion } = puntuationElem.dataset
            puntuacionInp.value = puntuacion;
          }

          politicaInp.value = politica;
          criterioInp.value = criterio;
          politicaTxt.innerHTML = politicaName;
          criterioTxt.innerHTML = criterioName;
        })
      });
    </script>
    {% endblock %}