{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Evaluación Criterio Acción{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/morris.css' %}">
<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box-header with-border">
            <h3 class="box-title">Tabla de evaluación de acciones respecto a políticas</h3>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Tabla Evaluación Acción/Política</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Mapa de Perfiles</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Mapa de Sensibilidad</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <td></td>
                                    {% for politica in politicas %}
                                    <td>{{ politica.short_name }}</td>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for accion in acciones %}
                                <tr>
                                    <td>{{ accion.short_name }}</td>
                                    {% for politica in politicas %}
                                    <td>

                                        {% for eap in evaluacionAP %}
                                        {% for e in eap %}
                                        {% if accion.id == e.accion.id and politica.id == e.politica.id %}
                                        {{ e.puntuacion }}
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box-body chart-responsive">
                            <canvas id="grafica" height="100px"></canvas>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->

        </div>


        <div class="box-footer">
            <!-- Buttons -->

            <div class="col-lg-offset-3 col-lg-9">
                <button type="submit" id="guardar_eval" class="btn btn-success"><i class="fa fa-save">
                    </i>Guardar</button>
                <a href="{% url 'multipol:detalle_estudio' estudio.id %}" class="btn btn-default"><i
                        class="fa fa-arrow-circle-left"> </i>Regresar</a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<script>
    const politicas = {{ array_politicas| safe }}
    console.log(politicas)
    const acciones = {{ array_acciones| safe }}
    const puntuacion = {{ matriz| safe }}
    const labels = politicas
    console.log(puntuacion)
    let dataset_acciones = []
    console.log(labels)
    for (var i = 0; i < acciones.length; i++) {
        var simbolos, color;
        simbolos = "0123456789ABCDEF";
        color = "#";

        for (var j = 0; j < 6; j++) {
            color = color + simbolos[Math.floor(Math.random() * 16)];
        }
        dataset_acciones.push({
            label: acciones[i],
            data: puntuacion[i],
            borderColor: color,
            fill: false,
            tension: 0.1
        });
    }


    const graph = document.querySelector("#grafica");

    const data = {
        labels: labels,
        datasets: dataset_acciones
    };

    const config = {
        type: 'line',
        data: data,
    };

    new Chart(graph, config);
</script>
{% endblock %}