<!--Opciones que dan acceso a los diferentes datos del estudio mactor-->

<select style="float: right" onchange="location = this.value;">
    <option value="">Opciones</option>
    <option value="{% url 'proyecto:ver_estudios_proyecto' estudio.idProyecto_id %}">Estudios del proyecto</option>
    <option value="{% url 'proyecto:ver_proyecto' estudio.idProyecto_id %}">Detalle del proyecto</option>
    <option value="{% url 'mactor:consultar_estudio' estudio.id %}">Detalle del estudio</option>
    {% if usuario != 'EXPERTO' %}
        <option value="{% url 'mactor:actores' estudio.id %}">Actores</option>
        <option value="{% url 'mactor:fichas' estudio.id %}">Fichas de estrategias</option>
        <option value="{% url 'mactor:objetivos' estudio.id %}">Objetivos</option>
    {% endif %}
    <option value="{% url 'mactor:influenciasMID' estudio.id %}">Relaciones MID</option>
    <option value="{% url 'mactor:relacionesMAO' estudio.id %}">Relaciones MAO</option>
    {% if usuario != 'EXPERTO' %}
        <option value="{% url 'mactor:editar_informe' informe.id %}">Informe final</option>
    {% endif %}
    <option value="{% url 'mactor:exportar_excel' estudio.id %}">Descargar datos</option>
</select>