{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if usuario != 'EXPERTO' and usuario != '' %}
        <div class="matter">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Redactar Informe Final</h3>

                                    {% include 'mactor/estudio/select_datos_estudio.html' %}

                                    <h4>Fecha límite para redacción: {{fecha_edicion}}</h4>
                                    <h4>Última actualización: {{informe.fecha}}</h4>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
										<hr/>

                                    {% include 'messages.html' %}

										<!-- Form starts.  -->
                                     <form class="form-horizontal" role="form" method="post">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Informe*</label>
                                                    {% if informe.estado or hoy > fecha_edicion %}
                                                        <textarea name="informe" cols="40" rows="25" class="form-control" readonly>{{informe.informe}}</textarea>
                                                    {% else %}
                                                        <textarea name="informe" cols="40" rows="25" class="form-control" required>{{informe.informe}}</textarea>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" hidden>
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label style="text-align: left"  class="control-label">Estado</label>
                                                    {% if informe.estado or hoy > fecha_edicion %}
                                                        <input type="checkbox" disabled checked name="estado">
                                                    {% else %}
                                                        <input type="checkbox" name="estado">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-md-offset-1" hidden>
                                            <div  class="row">
                                                <div class="form-group">
                                                    <input class="form-control" type="number" value="{{informe.idEstudio.id}}" name="idEstudio">
                                                </div>
                                            </div>
                                        </div>

                                        <!--BOTONES------------------------------------------- -->

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-8">
                                                <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                                                {% if informe.estado or hoy > fecha_edicion %}
                                                    <button disabled id="boton_guardar" type="submit" class="btn btn-primary" title="Se ha cumplido la fecha límite de redacción">
                                                        <i class="fa fa-save"></i> Guardar
                                                    </button>
                                                {% else %}
                                                    <button id="boton_guardar" type="submit" class="btn btn-primary" title="Guardar informe">
                                                        <i class="fa fa-save"></i> Guardar
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                     <!--MODAL AYUDA------------------------- -->

		    <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Informe final</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							  <p>Esta fase final del estudio MACTOR, tiene como objetivo la formulación de
                                  preguntas clave y la redacción de recomendaciones estratégicas, tomando como
                                  base el análisis de las posibles alianzas y conflictos entre los actores
                                  evidenciados a través de las matrices anteriormente vistas; ayudando esto a
                                  preguntarse cómo se verían afectadas las relaciones entre los actores y por
                                  tanto el alcance de los objetivos ante aspectos como: el surgimiento y
                                  desaparición de actores, los cambios de roles, etc.
                                  (Arcade, Godet, Meunier, & Roubelat, 2004).
                              </p>
                              <p>
                                  Nota: El administrador se encuentra habilitado para realizar los aportes o modificaciones
                                  que considere necesarios en el informe final, esto incluye finalizarlo.
                              </p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}


