{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% if usuario == 'COORDINADOR' %}

        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Gráfico Coeficiente Alfa de Cronbach por rondas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <br>
            <div style="width: 75%">
                <canvas id="canvas"></canvas>
            </div>

                <script src="{% static 'js/jquery.min.js' %}"></script>

            <script>
                var coeficientes = []
                var lista_labels = []

                // se obtienen los datos a graficar
                $.ajax(
                            {
                                data : {'estudio': {{ estudio.id }}},
                                url: 'datos_grafico_coef',
                                type: 'get',
                                success: function (data)
                                {
                                    var object = JSON.parse(data);

                                    for(var i=0; i<object.labels.length; i++)
                                    {
                                        lista_labels.push(object.labels[i])
                                    }
                                    for(var j=0; j<object.coeficientes.length; j++)
                                    {
                                        coeficientes.push(object.coeficientes[j])
                                    }
                                    generar();
                                },
                                 error: function()
                                 {
                                     console.log("Error no se puede graficar")
                                 }
                            });

                // se asignan los valores a graficar
                var lineChartData = {
                    labels: lista_labels,
                    datasets: [{
                        label: 'Coeficiente',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        data: coeficientes
                    }]
                };

                // Funcion que genera la grafica
                function generar () {
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myBar = new Chart(ctx, {
                        type: 'line',
                        data: lineChartData,
                        options: {
                            title:{
                                display:true,
                                text:"Gráfico - Coeficiente Alfa de Cronbach"
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false
                            },
                            responsive: true

                        }
                    });
                };

                </script>

            <!--BOTONES ------------------------------------- -->

             <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <a class="btn btn-success" href="{% url 'entrevista:historial_coeficientes' estudio.id %}" title="Historial Coeficiente Alfa de Cronbach"><i class="fa fa-arrow-left"></i> Atrás</a>
                        <a class="btn btn-primary" data-toggle="modal" href="#modal_ayuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                    </div>
             </div>

            </div>
            <!-- /.box-body -->

            <!--INICIO MODAL AYUDA------------------------- -->

		     <div id="modal_ayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Coeficiente Alfa de Cronbach</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							  <p>
                                  De acuerdo a Oviedo y Campo-Arias(2005), el valor mínimo aceptable para el coeficiente
                                  alfa de Cronbach es 0,70. Usualmente, se prefieren valores de alfa entre 0,80 y 0,90.
                                  <br>
                                  <br>
                                  Para la evaluación del coeficiente hacen las siguientes recomendaciones:
                                  <br>
                                  <br>
                                  <i class="fa fa-check"></i> Coeficiente alfa > 0.9 es excelente.
                                  <br>
                                  <i class="fa fa-check"></i> Coeficiente alfa > 0.8 es bueno.
                                  <br>
                                  <i class="fa fa-check"></i> Coeficiente alfa > 0.7 es aceptable.
                                  <br>
                                  <i class="fa fa-times"></i>  Coeficiente alfa > 0.6 es cuestionable.
                                  <br>
                                  <i class="fa fa-times"></i> Coeficiente alfa > 0.5 es pobre.
                                  <br>
                                  <i class="fa fa-times"></i> Coeficiente alfa < 0.5 es inaceptable.
                                  <br>
							  </p>
                              <p>El alfa de Cronbach puede arrojar un valor negativo, esto puede ser ocasionado por
                                  inconsistencias en la escala utilizada. Se recomienda eliminar o editar las preguntas
                                  con mayor desacuerdo y revisar los puntajes de las alternativas de respuesta
                                  de la escala, para aumentar la confiabilidad del cuestionario. </p>
                              <p>Oviedo, H. C., & Arias, A. C. (2005). Aproximación al uso del coeficiente alfa de Cronbach. Revista colombiana de psiquiatría, 34(4), 572-580.</p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

          </div>

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- ChartJS -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}