{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
{% endblock%}

{% block content %}
    {% if usuario == 'COORDINADOR' %}

        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Historial Coeficiente Alfa de Cronbach</h3>

                {% include 'entrevista/estudio/select_datos_estudio.html' %}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% if coeficientes %}

              <table id="tabla_coeficientes" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th style="text-align: center">Ronda</th>
                  <th style="text-align: center">Coeficiente</th>
                  <th style="text-align: center">Estado coeficiente</th>
                  <th style="text-align: center">Expertos</th>
                  <th style="text-align: center">Preguntas</th>
                  <th style="text-align: center">Estado Ronda</th>
                </tr>
                </thead>
                <tbody>
                    {% for coeficiente in coeficientes %}
                        <tr>
                            <td style="text-align: center">{{coeficiente.idRonda.numero_ronda}}</td>
                            <td style="text-align: center">{{coeficiente.valor}}</td>
                            {% if coeficiente.valor >= 0.9 %}
                                <td style="text-align: center"><a class="btn btn-sm btn-success" style="width: 60%">Excelente</a></td>
                             {% elif coeficiente.valor >= 0.8 %}
                                <td style="text-align: center"><a class="btn btn-sm btn-success" style="width: 60%">Bueno</a></td>
                             {% elif coeficiente.valor >= 0.7 %}
                                <td style="text-align: center"><a class="btn btn-sm btn-success" style="width: 60%">Aceptable</a></td>
                             {% elif coeficiente.valor >= 0.6 %}
                                <td style="text-align: center"><a class="btn btn-sm btn-danger" style="width: 60%">Cuestionable</a></td>
                             {% elif coeficiente.valor >= 0.5 %}
                                <td style="text-align: center"><a class="btn btn-sm btn-danger" style="width: 60%">Pobre</a></td>
                             {% elif coeficiente.valor < 0.5 %}
                                <td style="text-align: center" ><a class="btn btn-sm btn-danger" style="width: 60%">Inaceptable</a></td>
                             {% endif %}
                            <td style="text-align: center">{{coeficiente.num_expertos}}/{{ estudio.idExpertos.count }}</td>
                            <td style="text-align: center">{{coeficiente.idRonda.numero_preguntas}}</td>
                            <td style="text-align: center">
                                {% if coeficiente.idRonda.estado is True %}
                                    <a class="btn btn-sm btn-success" title="Ronda abierta"><i class="fa fa-check"></i></a>
                                {% else %}
                                    <a class="btn btn-sm btn-danger" title="Ronda cerrada"><i class="fa fa-times"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h3>No existen coeficientes registrados.</h3>
                {% endif %}
                </tfoot>
              </table>

            <!--BOTONES -------------------------------- -->

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <a class="btn btn-primary" data-toggle="modal" href="#modal_ayuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                        <a class="btn btn-primary" href="{% url 'entrevista:grafico' estudio.id %}" title="Gráfico de líneas"><i class="fa fa-line-chart"></i> Gráfico</a>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->

            <!--INICIO MODAL AYUDA------------------------- -->

		     <div id="modal_ayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Coeficiente Alfa de Cronbach</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							  <p>
                                  De acuerdo a Oviedo y Campo-Arias(2005), el valor mínimo aceptable para el coeficiente
                                  alfa de Cronbach es 0,70. Usualmente, se prefieren valores de alfa entre 0,80 y 0,90.
                                  <br>
                                  <br>
                                  Para la evaluación del coeficiente hacen las siguientes recomendaciones:
                                  <br>
                                  <br>
                                  <i class="fa fa-check"></i> Coeficiente alfa > 0.9 es excelente.
                                  <br>
                                  <i class="fa fa-check"></i> Coeficiente alfa > 0.8 es bueno.
                                  <br>
                                  <i class="fa fa-check"></i> Coeficiente alfa > 0.7 es aceptable.
                                  <br>
                                  <i class="fa fa-times"></i>  Coeficiente alfa > 0.6 es cuestionable.
                                  <br>
                                  <i class="fa fa-times"></i> Coeficiente alfa > 0.5 es pobre.
                                  <br>
                                  <i class="fa fa-times"></i> Coeficiente alfa < 0.5 es inaceptable.
                                  <br>
							  </p>
                              <p>El alfa de Cronbach puede arrojar un valor negativo, esto puede ser ocasionado por
                                  inconsistencias en la escala utilizada. Se recomienda eliminar o editar las preguntas
                                  con mayor desacuerdo y revisar los puntajes de las alternativas de respuesta
                                  de la escala, para aumentar la confiabilidad del cuestionario. </p>
                              <p>Oviedo, H. C., & Arias, A. C. (2005). Aproximación al uso del coeficiente alfa de Cronbach. Revista colombiana de psiquiatría, 34(4), 572-580.</p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

          </div>

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_coeficientes').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true
        })
      })
    </script>
{% endblock %}