{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

    <style>
        #tabla_fichas th, td {text-align: center}
    </style>
{% endblock%}

{% block content %}
    {% if usuario != '' and usuario != 'EXPERTO' %}

        {% include 'messages.html' %}

        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Estrategias de los actores</h3>

                {% include 'mactor/estudio/select_datos_estudio.html' %}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               {% if fichas %}

              <table id="tabla_fichas" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Estrategias del actor</th>
                  <th>Sobre el actor</th>
                  <th>Estrategias</th>
                  <th id="acciones" style="text-align: center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for ficha in fichas %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ficha.idActorY.nombreLargo}}</td>
                            <td>{{ficha.idActorX.nombreLargo}}</td>
                            <td style="text-align: justify">{{ficha.estrategia|truncatechars:100}}</td>
                            <td style="width: 15%">
                                <a  id="{{ actor.id }}" class="btn btn-primary" href="{% url 'mactor:consultar_ficha' ficha.id %}" title="Ver" data-toggle="modal"><i class="fa fa-eye"></i></a>
                                {% if estudio.estado %}
                                    <a class="btn btn-warning .edit" href="{% url 'mactor:editar_ficha' ficha.id %}" title="Editar"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger delete" href="{% url 'mactor:eliminar_ficha' ficha.id %}" title="Eliminar"><i class="fa fa-trash"></i></a>
                                {% else %}
                                    <a class="btn btn-warning .edit" disabled="True" title="El estudio se encuentra cerrado."><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger delete" disabled="True" title="El estudio se encuentra cerrado."><i class="fa fa-trash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h3>No existen fichas de estrategias registradas.</h3>
                {% endif %}
                </tfoot>
              </table>

            <!--BOTONES --------------------------------- -->

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                            {% if estudio.estado and incompletos > 0 %}
                                <a class="btn btn-primary" href="{% url 'mactor:nueva_ficha' estudio.id %}" title="Agregar actor"><i class="fa fa-plus"></i> Agregar</a>
                            {% else %}
                                <a class="btn btn-primary" disabled="True"
                                   {% if estudio.estado is False %}
                                        title="El estudio se encuentra cerrado."
                                   {% else %}
                                        title="Ha registrado todas las fichas de estrategias."
                                   {% endif %}
                                ><i class="fa fa-plus"></i> Agregar</a>

                        {% endif %}
                        <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                    </div>
                </div>

             <!--MODAL AYUDA------------------------- -->

		    <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Estrategias de los actores</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							  <p>La tabla de estrategias de los actores describe los planes, motivaciones, limitaciones y
								  medios de acción de cada actor. La información de la influencia de un actor sobre si
								  mismo corresponde a una "tarjeta de identidad" que puede incluir información asociada
								  a las metas, fortalezas, debilidades del actor, siendo estos registros generalmente los
								  mas completos. Por el contrario, muchas de las acciones de un actor hacia otro se
								  encuentran casi o totalmente vacías, estas describen los medios de acción que cada actor
								  puede utilizar contra los otros a fin de alcanzar sus metas.
								  <br>
								  La información proporcionada por técnicas preliminares como MICMAC se utiliza para
								  completar la mayor parte de la tabla, el resto contendría el resultado de entrevistas
								  más exhaustivas, recordandose que la calidad de los resultados a alcanzar dependerá
								  de la información recolectada(LIPSOR-EPITA, s.f).
							  </p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

            </div>
            <!-- /.box-body -->
          </div>

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
     <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_fichas').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[5, 10, 50, -1], [5, 10, 50, "All"]]
        })
      })
    </script>
{% endblock %}
