{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <style>
        input { text-align: center; width: 60px; }
        .ejes_diagonal_gris { background-color: #5e5e5e; color: white;}
    </style>
{% endblock %}

{% block content %}
    {% if usuario != '' %}
        {% if consenso and usuario == 'EXPERTO' %}
            <h2>No cuenta con permisos para acceder a esta página.</h2>
        {% else %}
            <div class="box">
            <div class="box-header">
                {% if consenso %}
                    <h3 class="box-title"> CONSENSO - Matriz de Influencias Directas</h3>
                {% else %}
                    <h3 class="box-title">MID - Matriz de Influencias Directas ({{porcentaje}}% diligenciada)</h3>
                {% endif %}

                <div class="pull-right">
                    <select name="graficos_midi" class="form-control" onchange="location = this.value;">
                        <option value="">Análisis MID</option>
                        {% if consenso %}
                            <option value="{% url 'mactor:consenso_mid' estudio.id 7 %}">Histograma Influencia - Dependencia</option>
                        {% elif porcentaje >= 100 %}
                            <option value="{% url 'mactor:histograma_mid' estudio.id %}">Histograma Influencia - Dependencia</option>
                        {% elif consenso is False and porcentaje < 100 %}
                            <option disabled title="Finalice la Matriz de Influencias Directas para acceder">Histograma Influencia - Dependencia</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {% include 'messages.html' %}
                </div>
            </div>


            <!-- /.box-header -->
            <div class="box-body">

              <table class="table table-bordered table-hover" id="matriz_mid">
                  <thead>
                    <tr>
                        {%if actores and matriz %}
                            <input class="ejes_diagonal_gris" type="text" value="">
                            {% for actor in actores %}
                                <input name="actor{{actor.id}}" title="{{actor.nombreLargo|upper}}" class="ejes_diagonal_gris"
                                       value="{{actor.nombreCorto}}" data-toggle="modal" href="#modal_ConsultarActor">
                            {% endfor %}
                            <input class="ejes_diagonal_gris" type="text" title="INFLUENCIA DIRECTA" value="I.D">
                        {% endif %}
                        <br>
                    </tr>
                  </thead>
                  <tbody>
                    {% if matriz %}
                        {% for fila in matriz %}
                            {% for celda in fila %}
                                 <tr>
                                    {% if celda.posicion == 0 and celda.valor != 'D.D' %}
                                        <input name="actor{{celda.pk}}" class="ejes_diagonal_gris" title="{{celda.descripcion|upper}}"
                                                   value="{{celda.valor}}" data-toggle="modal" href="#modal_ConsultarActor">
                                    {% elif celda.valor == 'D.D' %}
                                         <input class="button_active ejes_diagonal_gris" title="{{celda.descripcion}}" value="{{celda.valor}}">
                                    {% else %}
                                        <!-- para los valores no registrados-->
                                         {% if celda.valor == 100 %}
                                             {% if celda.y != celda.x %}
                                                 <input class="button_active ejes_diagonal_gris"
                                                        {% if consenso is False and estudio.estado %}
                                                            onclick="location.href='{% url 'mactor:nueva_mid_matriz' celda.y celda.x %}'"
                                                        {% elif consenso is False and estudio.estado is False %}
                                                            data-toggle="modal" href="#modal_estado_estudio"
                                                        {% endif %}
                                                        type="text" title="Influencia sin registrar" value="X">
                                             <!-- diagonal cuando la matriz esta al 0% -->
                                             {% else %}
                                                 <input class="button_active ejes_diagonal_gris" type="text" value="0" title="Sin influencia">
                                             {% endif %}
                                        {% else %}
                                             <!-- diagonal de la matriz-->
                                             {% if celda.y == celda.x and celda.x != ''  %}
                                                 <input class="button_active ejes_diagonal_gris" type="text" value="0" title="Sin influencia">
                                             <!-- sumatorias de filas y columnas -->
                                             {% elif celda.x == '' %}
                                                <input class="button_active" type="text" value="{{celda.valor}}" title="{{celda.descripcion}}">
                                             <!-- influencias directas -->
                                             {% else %}
                                                 <input class="button_active"
                                                        {% if consenso is False and estudio.estado %}
                                                            onclick="location.href='{% url 'mactor:editar_mid' celda.pk 'matriz' %}'"
                                                        {% elif estudio.estado is False and consenso is False %}
                                                            onclick="location.href='{% url 'mactor:consultar_mid' celda.pk 'matriz' %}'"
                                                        {% elif consenso %}
                                                            onclick="location.href='{% url 'mactor:consultar_mid' celda.pk 'consenso' %}'"
                                                        {% endif %}
                                                        type="text" value="{{celda.valor}}" title="{{celda.descripcion}}">
                                             {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <br>
                        {% endfor %}
                    {% else %}
                        <h3>No se han registrado actores en el estudio.</h3>
                    {% endif %}
                  </tbody>
              </table>
            <br>
            {% if consenso %}
                <div class="alert alert-info alert-dismissible">
                     <br>
                     <h4>Expertos en consenso = {{expertos}}</h4>
                </div>
            {% endif %}
            <br>


            <!--BOTONES ------------------------------- -->

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <a class="btn btn-success" href="{% url 'mactor:influenciasMID' estudio.id %}" title="Influencias directas"><i class="fa fa-arrow-left"></i> Atrás</a>
                        <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                    </div>
                </div>

            <!--MODAL CONSULTAR ACTOR--------------- -->

            {% include 'mactor/actor/modal_detalle_actor.html' %}

             <!--MODAL ESTADO DEL ESTUDIO------------ -->

            {% include 'mactor/mid/matrices/modal_estado_estudio.html' %}

             <!--MODAL AYUDA------------------------- -->

		    <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Influencias directas</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							 <p>La Matriz de Influencias Directas (MID), permite evidenciar el nivel de influencia
                                que un actor ejerce sobre otro de forma directa, asi: el actor tiene poca o ninguna
                                influencia sobre otro (0), el actor puede poner en riesgo de forma limitada los
                                procesos operativos de gestión de otro (1), el actor puede poner en riesgo el éxito
                                de los proyectos de otro actor (2), el actor puede poner en riesgo el cumplimiento
                                de las misiones de otro actor (3) y por último el actor puede poner en riesgo la
                                existencia o permanencia de otro (4) (Godet y Durance, 2009).
                            </p>
                            <p>La columna Influencia Directa (Inf. D), representa la influencia que determinado
                                actor ejerce en el grupo de actores estudiado. Mientras que la fila Dependencia
                                Directa (Dep. D), la influencia que el mismo actor recibe del resto de actores.
                            </p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

            </div>
            <!-- /.box-body -->
          </div>
        {% endif %}
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/mactor/consultar_actor_objetivo_matriz.js'%}"></script>
    <script>
        $('input').attr('readonly', true);
    </script>
{% endblock %}
