{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <style>
        input { text-align: center; width: 60px; }
        .celda_gris { background-color: #5e5e5e; color: white;}
    </style>
{% endblock %}

{% block content %}
    {% if usuario != '' %}
        {% if consenso and usuario == 'EXPERTO' %}
            <h2>No cuenta con permisos para acceder a esta página.</h2>
        {% else %}
            <div class="box">
                <div class="box-header">
                    {% if consenso %}
                        <h3 class="box-title">CONSENSO - Matriz de Balance Líquido de Influencias Directas e Indirectas</h3>
                    {% else %}
                        <h3 class="box-title">BL - Matriz de Balance Líquido de Influencias Directas e Indirectas</h3>
                    {% endif %}
                </div>

                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered" id="tabla2">
                        <thead>
                            <tr>
                                {% if actores and valores_balance %}
                                    <input class="celda_gris"  type="text" value="">
                                    {% for actor in actores %}
                                        <input name="actor{{actor.id}}" class="celda_gris" title="{{actor.nombreLargo|upper}}"
                                               value="{{actor.nombreCorto}}" data-toggle="modal" href="#modal_ConsultarActor">
                                    {% endfor %}
                                    <input class="celda_gris" type="text" title="SUMA FILA" value="SUMA">
                                {% endif %}
                                <br>
                            </tr>
                        </thead>
                        <tbody>
                            {% if valores_balance %}
                                {% for fila in valores_balance %}
                                    {% for celda in fila %}
                                         <tr>
                                            {% if celda.posicion == 0 %}
                                                <input name="actor{{celda.pk}}" class="celda_gris" title="{{celda.descripcion|upper}}"
                                                           value="{{celda.valor}}" data-toggle="modal" href="#modal_ConsultarActor">
                                            {% else %}
                                                <input type="text" value="{{celda.valor}}" title="{{celda.descripcion}}">
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    <br>
                                {% endfor %}
                            {% else %}
                                <h3>Finalice el registro de las influencias directas para visualizar la Matriz de Balance Líquido</h3>
                            {% endif %}
                        <br>
                        </tbody>
                    </table>

                    <br>
                    {% if consenso is True %}
                        <div class="alert alert-info alert-dismissible">
                             <br>
                             <h4>Expertos en consenso = {{expertos}}</h4>
                        </div>
                    {% endif %}
                    <br>


                <!--BOTONES ----------------------------- -->

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <a class="btn btn-success" href="{% url 'mactor:influenciasMID' estudio.id %}" title="Influencias directas"><i class="fa fa-arrow-left"></i> Atrás</a>
                            <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                        </div>
                    </div>

                <!--MODAL CONSULTAR ACTOR--------------- -->

                {% include 'mactor/actor/modal_detalle_actor.html' %}

                 <!--MODAL AYUDA------------------------- -->

                <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                  <h4 class="modal-title">Ayuda - Matriz de Balance Líquido</h4>
                              </div>
                              <div class="modal-body" style="text-align: justify">
                                <p>
                                            El balance neto permite conocer si un actor, en términos netos, influye más de lo
                                            que es influenciado. Corresponde a la diferencia entre la influencia directa e
                                            indirecta del actor i sobre el actor j y la influencia directa e indirecta de j
                                            sobre i. Si el valor es positivo, significa que el actor i influye directa e
                                            indirectamente en el actor j más, de lo que es influenciado por ese actor; si la
                                            sumatoria del actor i es negativa, indica que su dependencia es mayor a su
                                            influencia(Castro y Perestrelo, 2000).
                                </p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                              </div>
                          </div>
                      </div>
                  </div>

                </div>
                <!-- /.box-body -->
              </div>
        {% endif %}

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/mactor/consultar_actor_objetivo_matriz.js'%}"></script>
    <script>
        $('input').attr('readonly', true);
    </script>
{% endblock %}
