{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    {% if regla.idEstudio.estado and usuario != '' and usuario != 'EXPERTO' %}
        <div class="matter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="widget-head">
                                    <div class="box-header with-border">
                                      <h3 class="box-title">Editar Regla</h3>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <div class="padd">
                                            <hr/>

                                        {% include 'messages.html' %}
                                            <!-- Form starts.  -->
                                        <form class="form-horizontal" role="form" method="post">
                                            {% csrf_token %}

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {{ form.titulo|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {{ form.descripcion|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {{form.estado|as_crispy_field}}
                                                        </div>
                                                    </div>
                                                </div>

                                            <div class="row" hidden>
                                                <div class="col-md-3 col-md-offset-1">
                                                    <div class="form-group">
                                                        {{form.idEstudio|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-8 col-md-offset-3">
                                                    <a class="btn btn-success" href="{% url 'abaco:reglas' regla.idEstudio_id %}" title="Lista de reglas"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                    <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    </div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}



