{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- si el usuario es el creador de la idea o
        si el usuario hace parte de los coordinadores y
        si el estudio esta abierto-->
    {% if idea.idCreador.id == request.user.id or request.user in idea.idEstudio.idCoordinadores.all and idea.idEstudio.estado %}
        <!-- si la idea no cuenta con valoraciones de los expertos y
            los coordinadores no la han puesto en uso o
            si el usuario hace parte de los coordinadores-->
        {% if valoracionesIdea == 0 and idea.estado is False or request.user in idea.idEstudio.idCoordinadores.all %}
            <!-- si existe una sesion de registro de ideas activa -->
            {% if ultima_sesion.tipo < 2 and ultima_sesion.estado  %}
                <div class="matter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="widget-head">
                                    <div class="box-header with-border">
                                      <h3 class="box-title">Editar Idea</h3>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <div class="padd">
                                            <hr/>

                                        {% include 'messages.html' %}
                                            <!-- Form starts.  -->
                                        <form class="form-horizontal" role="form" method="post">
                                            {% csrf_token %}

                                            {% if valoracionesIdea == 0 and idea.idCreador.id == request.user.id %}
                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {{ form.titulo|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {{ form.descripcion|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>

                                            {% else %}
                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            <label class="control-label" style="text-align: left">Título</label>
                                                            <input class="form-control" type="text" readonly value="{{ idea.titulo }}" name="titulo" title="Este campo no se puede editar porque la idea cuenta con valoraciones registradas o el usuario no es el creador de la idea.">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            <label class="control-label" style="text-align: left">Descripción</label>
                                                            <textarea class="form-control" rows="2" readonly name="descripcion" title="Este campo no se puede editar porque la idea cuenta con valoraciones registradas o el usuario no es el creador de la idea.">{{ idea.descripcion }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if request.user in idea.idEstudio.idCoordinadores.all %}
                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {{form.estado|as_crispy_field}}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row" hidden>
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {{form.estado|as_crispy_field}}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <div class="row">
                                                <div class="col-md-3 col-md-offset-1" hidden>
                                                    <div class="form-group">
                                                        {{form.idCreador|as_crispy_field}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3 col-md-offset-1" hidden>
                                                    <div class="form-group">
                                                        <label class="control-label" style="text-align: left">Estudio</label>
                                                        <input class="form-control" type="text" value="{{idea.idEstudio.id}}" name="idEstudio">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-8 col-md-offset-3">
                                                    <a class="btn btn-success" href="{% url 'abaco:ideas' idea.idEstudio.id %}" title="Lista de ideas"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                    <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    </div>
            {% else %}
                <div class="alert alert-info alert-dismissible col-md-11">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-info"></i></h4>
                    <h3>No existe una sesión de registro o selección de ideas activa por lo que las ideas no pueden ser modificadas.
                        <br>
                        Gracias por participar.
                    </h3>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-3">
                        <a class="btn btn-success" href="{% url 'abaco:ideas' idea.idEstudio.id %}" title="Lista de ideas"><i class="fa fa-arrow-left"></i> Atrás</a>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info alert-dismissible col-md-11">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-info"></i></h4>
                <h3>Esta idea será o fue empleada dentro de las valoraciones del estudio, por tanto no puede ser editada.
                    <br>
                    Gracias por participar.
                </h3>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <a class="btn btn-success" href="{% url 'abaco:ideas' idea.idEstudio.id %}" title="Lista de ideas"><i class="fa fa-arrow-left"></i> Atrás</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}



