{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

    <style>
        #tabla_ideas th, td {text-align: center}
        #tabla_ideas_evaluacion th, td {text-align: center}
        #tabla_mis_ideas th, td {text-align: center}
    </style>
{% endblock%}

{% block content %}
    {% if usuario != '' %}

        {% include 'messages.html' %}

        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">

                {% include 'abaco/sesion/tipos_sesiones.html' %}
                {% include 'abaco/estudio/select_datos_estudio.html' %}
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab_1" data-toggle="tab">Todas las ideas <span class="badge badge-primary">{{ ideas.count }}</span></a></li>
                          <li><a href="#tab_2" data-toggle="tab">Ideas a evaluar <span class="badge badge-primary">{{ ideas_evaluacion.count }}</span></a></li>
                          <li><a href="#tab_3" data-toggle="tab">Mis ideas <span class="badge badge-primary">{{ mis_ideas.count }}</span></a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_1">
                               <div class="row">
                                    <div class="col-md-12">
                                            <div class="widget-content">
                                                <div class="padd">
                                                    {% if ideas %}
                                                        <table id="tabla_ideas" class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                              <th>#</th>
                                                              <th>Título</th>
                                                              <th>Descripción</th>
                                                              <th>Estado</th>
                                                              <th>Fecha registro</th>
                                                              <th id="acciones">Acciones</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for idea in ideas %}
                                                                    <tr>
                                                                        <td>{{forloop.counter}}</td>
                                                                        <td>{{idea.titulo}}</td>
                                                                        <td>{{idea.descripcion|truncatechars:50}}</td>
                                                                        <td>
                                                                            {% if idea.estado %}
                                                                                {% if request.user in estudio.idCoordinadores.all and ultima_sesion.tipo < 2 and ultima_sesion.estado and idea.idEstudio.estado %}
                                                                                    <a id="idea{{ idea.id }}" class="btn btn-sm btn-success" title="Idea en uso"><i class="fa fa-check"></i></a>
                                                                                {% else %}
                                                                                    <a class="btn btn-sm btn-success" title="Idea en uso"><i class="fa fa-check"></i></a>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% if request.user in estudio.idCoordinadores.all and ultima_sesion.tipo < 2 and ultima_sesion.estado and idea.idEstudio.estado %}
                                                                                    <a id="idea{{ idea.id }}" class="btn btn-sm btn-danger" title="Idea sin usar"><i class="fa fa-times"></i></a>
                                                                                {% else %}
                                                                                    <a class="btn btn-sm btn-danger" title="Idea sin usar"><i class="fa fa-times"></i></a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </td>
                                                                        <td>{{idea.fecha}}</td>
                                                                        <td style="width: 15%">
                                                                            <a class="btn btn-primary" href="{% url 'abaco:consultar_idea' idea.id %}" title="Ver"><i class="fa fa-eye"></i></a>
                                                                            {% if idea.idCreador.id == request.user.id or request.user in estudio.idCoordinadores.all  %}
                                                                                {% if estudio.estado %}
                                                                                    <a class="btn btn-warning .edit" href="{% url 'abaco:editar_idea' idea.id %}" title="Editar"><i class="fa fa-pencil"></i></a>
                                                                                {% else %}
                                                                                    <a class="btn btn-warning .edit" disabled="True" title="El estudio está cerrado."><i class="fa fa-pencil"></i></a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            {% if idea.idCreador.id == request.user.id %}
                                                                                {% if estudio.estado %}
                                                                                    <a class="btn btn-danger delete" href="{% url 'abaco:eliminar_idea' idea.id %}" title="Eliminar"><i class="fa fa-trash"></i></a>
                                                                                {% else %}
                                                                                    <a class="btn btn-danger delete" disabled="True" title="El estudio está cerrado"><i class="fa fa-trash"></i></a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tfoot>
                                                          </table>
                                                    {% else %}
                                                        <h3>Ninguna idea se ha seleccionado para evaluar.</h3>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_2">
                            <div class="row" style="text-align: justify">
                                <div class="col-md-12">
                                      <div class="box box-solid">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                          {% if ideas_evaluacion %}
                                              <table id="tabla_ideas_evaluacion" class="table table-bordered table-striped">
                                                  <thead>
                                                  <tr>
                                                      <th>#</th>
                                                      <th>Título</th>
                                                      <th>Descripción</th>
                                                      <th>Estado</th>
                                                      <th>Fecha registro</th>
                                                      <th id="acciones">Acciones</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                  {% for idea in ideas_evaluacion %}
                                                      <tr>
                                                          <td>{{forloop.counter}}</td>
                                                          <td>{{idea.titulo}}</td>
                                                          <td>{{idea.descripcion|truncatechars:50}}</td>
                                                          <td>
                                                             {% if idea.estado %}
                                                                 {% if request.user in estudio.idCoordinadores.all and ultima_sesion.tipo < 2 and ultima_sesion.estado and idea.idEstudio.estado %}
                                                                     <a id="idea{{ idea.id }}" class="btn btn-sm btn-success" title="Idea en uso"><i class="fa fa-check"></i></a>
                                                                 {% else %}
                                                                     <a class="btn btn-sm btn-success" title="Idea en uso"><i class="fa fa-check"></i></a>
                                                                 {% endif %}
                                                             {% else %}
                                                                 {% if request.user in estudio.idCoordinadores.all and ultima_sesion.tipo < 2 and ultima_sesion.estado and idea.idEstudio.estado %}
                                                                     <a id="idea{{ idea.id }}" class="btn btn-sm btn-danger" title="Idea sin usar"><i class="fa fa-times"></i></a>
                                                                 {% else %}
                                                                     <a class="btn btn-sm btn-danger" title="Idea sin usar"><i class="fa fa-times"></i></a>
                                                                 {% endif %}
                                                             {% endif %}
                                                          </td>
                                                          <td>{{idea.fecha}}</td>
                                                          <td style="width: 15%">
                                                              <a class="btn btn-primary" href="{% url 'abaco:consultar_idea' idea.id %}" title="Ver"><i class="fa fa-eye"></i></a>
                                                              {% if request.user in estudio.idCoordinadores.all %}
                                                                  {% if estudio.estado %}
                                                                      <a class="btn btn-warning .edit" href="{% url 'abaco:editar_idea' idea.id %}" title="Editar"><i class="fa fa-pencil"></i></a>
                                                                      <a class="btn btn-danger delete" href="{% url 'abaco:eliminar_idea' idea.id %}" title="Eliminar"><i class="fa fa-trash"></i></a>
                                                                  {% else %}
                                                                      <a class="btn btn-warning .edit" disabled="True" title="El estudio está cerrado."><i class="fa fa-pencil"></i></a>
                                                                      <a class="btn btn-danger delete" disabled="True" title="El estudio está cerrado"><i class="fa fa-trash"></i></a>
                                                                  {% endif %}
                                                              {% endif %}
                                                          </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tfoot>
                                                          </table>
                                          {% else %}
                                              <h3>No existen ideas seleccionadas para evaluar.</h3>
                                          {% endif %}
                                        </div>
                                        <!-- /.box-body -->
                                      </div>
                                      <!-- /.box -->
                                    </div>
                            </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_3">
                               <div class="row">
                                    <div class="col-md-12">
                                            <div class="widget-content">
                                                <div class="padd">
                                                    {% if mis_ideas %}
                                                          <table id="tabla_mis_ideas" class="table table-bordered table-striped">
                                                              <thead>
                                                              <tr>
                                                                  <th>#</th>
                                                                  <th>Título</th>
                                                                  <th>Descripción</th>
                                                                  <th>Estado</th>
                                                                  <th>Fecha registro</th>
                                                                  <th id="acciones">Acciones</th>
                                                              </tr>
                                                              </thead>
                                                              <tbody>
                                                              {% for idea in mis_ideas %}
                                                                  <tr>
                                                                      <td>{{forloop.counter}}</td>
                                                                      <td>{{idea.titulo}}</td>
                                                                      <td>{{idea.descripcion|truncatechars:50}}</td>
                                                                      <td>
                                                                          {% if idea.estado %}
                                                                             {% if request.user in estudio.idCoordinadores.all and ultima_sesion.tipo < 2 and ultima_sesion.estado and idea.idEstudio.estado %}
                                                                                 <a id="idea{{ idea.id }}" class="btn btn-sm btn-success" title="Idea en uso"><i class="fa fa-check"></i></a>
                                                                             {% else %}
                                                                                 <a class="btn btn-sm btn-success" title="Idea en uso"><i class="fa fa-check"></i></a>
                                                                             {% endif %}
                                                                         {% else %}
                                                                             {% if request.user in estudio.idCoordinadores.all and ultima_sesion.tipo < 2 and ultima_sesion.estado and idea.idEstudio.estado %}
                                                                                 <a id="idea{{ idea.id }}" class="btn btn-sm btn-danger" title="Idea sin usar"><i class="fa fa-times"></i></a>
                                                                             {% else %}
                                                                                 <a class="btn btn-sm btn-danger" title="Idea sin usar"><i class="fa fa-times"></i></a>
                                                                             {% endif %}
                                                                         {% endif %}
                                                                      </td>
                                                                      <td>{{idea.fecha}}</td>
                                                                      <td style="width: 15%">
                                                                          <a class="btn btn-primary" href="{% url 'abaco:consultar_idea' idea.id %}" title="Ver"><i class="fa fa-eye"></i></a>
                                                                          {% if request.user.id == idea.idCreador.id %}
                                                                              {% if estudio.estado %}
                                                                                  <a class="btn btn-warning .edit" href="{% url 'abaco:editar_idea' idea.id %}" title="Editar"><i class="fa fa-pencil"></i></a>
                                                                                  <a class="btn btn-danger delete" href="{% url 'abaco:eliminar_idea' idea.id %}" title="Eliminar"><i class="fa fa-trash"></i></a>
                                                                              {% else %}
                                                                                  <a class="btn btn-warning .edit" disabled="True" title="El estudio está cerrado."><i class="fa fa-pencil"></i></a>
                                                                                  <a class="btn btn-danger delete" disabled="True" title="El estudio está cerrado"><i class="fa fa-trash"></i></a>
                                                                              {% endif %}
                                                                          {% endif %}
                                                                      </td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        </tfoot>
                                                                      </table>
                                                    {% else %}
                                                          <h3>No ha registrado ninguna idea.</h3>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                      </div>
                <!-- nav-tabs-custom -->

            <!--BOTONES ------------------------------- -->

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                            {% if estudio.estado and ultima_sesion.tipo == 0 and ultima_sesion.estado %}
                                <a class="btn btn-primary" href="{% url 'abaco:nueva_idea' estudio.id %}" title="Agregar idea"><i class="fa fa-plus"></i> Agregar</a>
                            {% else %}
                                <a class="btn btn-primary" disabled="True" title="El estudio se encuentra cerrado o no existe una sesión de registro de ideas en curso."><i class="fa fa-plus"></i> Agregar</a>
                            {% endif %}
                        <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                    </div>
                </div>

             <!--MODAL AYUDA------------------------- -->

		    <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Actores</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							  <p>-----PENDIENTE----</p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

            </div>
            <!-- /.box-body -->
          </div>

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_ideas').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[10, 50, -1], [10, 50, "All"]]
        })
      })
    </script>
    <script>
      $(function () {
        $('#tabla_ideas_evaluacion').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[10, 50, -1], [10, 50, "All"]]
        })
      })
    </script>
    <script>
      $(function () {
        $('#tabla_mis_ideas').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[10, 50, -1], [10, 50, "All"]]
        })
      })
    </script>
    <script src="{% static 'js/abaco/cambiar_estado_idea_regla_sesion.js' %}"></script>
{% endblock %}