<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="" content="">
  <meta charset="UTF-8">
  <!-- Metadatos-->
  {% block metadatos %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">
  {% endblock metadatos %}

  <title>{% block titlehead %}  {% endblock %}</title>
   <!-- Style (css)-->
  {% include "css.html" %}

  {% block extra_css %}{% endblock%}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>S</b>P</span>
                <span class="logo-lg"><b>Soft</b>Prosp</span>
            </a>
            <!-- Navbar -->
            {% include "navbar.html" %}
        </header>

        <!-- Sidebar -->
        {% include "sidebar.html" %}

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <!-- Content Header -->
            <section class="content-header">
                <h1> {% block title %}Bienvenido(a){% endblock %}
                    <small>
                        {% block title_foot %}
                            <p>
                                {% if request.user.first_name == '' %}
                                    {{ request.user }}
                                {% else %}
                                    {{ request.user.first_name }} {{ request.user.last_name }}
                                {% endif %}
                            </p>
                        {% endblock %}
                    </small></h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="box">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.0.1
            </div>
            <strong>Copyright &copy; 2018-2019 <a href="">Softprosp</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    {% include "js.html" %}

    {% block extra_js %}{% endblock %}
</body>
</html>
