
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            {% if usuario != 'EXPERTO' %}
                <a class="btn btn-success" data-toggle="modal" href="#modalMatricesConsenso" title="Consenso Matrices MAO"><i class="fa fa-table"></i> Consenso</a>
            {% endif %}
            {% if request.user in estudio.idExpertos.all %}
                <a class="btn btn-primary" data-toggle="modal" href="#modalMatrices" title="Matrices MAO"><i class="fa fa-table"></i> Matrices</a>
            {% endif %}
            <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
        </div>
    </div>

