{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if usuario != '' and relacion %}
            <div class="matter">
            <div class="container">
                <div class="row">

                    <div class="col-md-11" style="margin-top: 10px">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          {% if tipoAcceso != 'consenso' %}
                              <li class="active"><a href="#tab_1" data-toggle="tab">Detalle de la Relación</a></li>
                              <li><a href="#tab_2" data-toggle="tab">Detalle del actor y del objetivo</a></li>
                              <li><a href="#tab_3" data-toggle="tab">Fichas de estrategias</a></li>
                              {% if usuario != 'EXPERTO' %}
                                <li><a href="#tab_4" data-toggle="tab">Otras valoraciones</a></li>
                              {% endif %}
                          {% else %}
                              {% if usuario != 'EXPERTO' %}
                                  <li class="active"><a href="#tab_2" data-toggle="tab">Detalle del actor y del objetivo</a></li>
                                  <li><a href="#tab_3" data-toggle="tab">Ficha de estrategias</a></li>
                                  <li><a href="#tab_4" data-toggle="tab">Todas las valoraciones</a></li>
                              {% endif %}
                          {% endif %}
                        </ul>
                        <div class="tab-content">
                        {% if tipoAcceso != 'consenso' %}
                              <div class="tab-pane active" id="tab_1">
                                    <div class="col-md-12" style="margin-top: 10px">
                                            <div class="widget-content">
                                                <div class="padd">
                                                        <!-- Form starts.  -->
                                                    <form class="form-horizontal" role="form" method="post">
                                                        {% csrf_token %}

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label" style="text-align: left">Relación del actor</label>
                                                                    <input class="form-control" readonly value="{{ relacion.idActorY }}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label" style="text-align: left">Sobre el objetivo</label>
                                                                    <input class="form-control" readonly value="{{ relacion.idObjetivoX }}">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-8 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label" style="text-align: left">Valor</label>
                                                                        {% if relacion.valor < 0 %}
                                                                            <input class="form-control" readonly value="[{{ relacion.valor }}] - En desacuerdo ">
                                                                        {% elif relacion.valor == 0 %}
                                                                            <input class="form-control" readonly value="[{{ relacion.valor }}] - Neutro ">
                                                                        {% else %}
                                                                            <input class="form-control" readonly value="[{{ relacion.valor }}] - Acuerdo ">
                                                                        {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label" style="text-align: left">Justificación</label>
                                                                    <textarea class="form-control" rows="5" readonly>{{ relacion.justificacion }}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                    </div>

                              </div>
                        {% endif %}
                          <!-- /.tab-pane -->
                          <div id="tab_2"
                            {% if tipoAcceso != 'consenso' %}
                               class="tab-pane"
                            {% else %}
                               class="tab-pane active"
                            {% endif %}>
                            <div class="row" style="text-align: justify">
                                <div class="col-md-12">
                                      <div class="box box-solid">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                          <dl>
                                            <dt>[{{ relacion.idActorY.nombreCorto }}] - {{ relacion.idActorY.nombreLargo }} </dt>
                                            <dd>
                                                {% if relacion.idActorY.descripcion == '' %}
                                                    No se ha registrado una descripción para este actor.
                                                {% else %}
                                                    {{ relacion.idActorY.descripcion }}
                                                {% endif %}
                                            </dd>
                                            <br>
                                            <dt>[{{ relacion.idObjetivoX.nombreCorto }}] - {{ relacion.idObjetivoX.nombreLargo }} </dt>
                                            <dd>
                                                {% if relacion.idObjetivoX.descripcion == '' %}
                                                    No se ha registrado una descripción para este objetivo.
                                                {% else %}
                                                    {{ relacion.idObjetivoX.descripcion }}
                                                {% endif %}
                                            </dd>
                                          </dl>
                                        </div>
                                        <!-- /.box-body -->
                                      </div>
                                      <!-- /.box -->
                                    </div>
                            </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_3">
                            <div class="row" style="text-align: justify">
                                <div class="col-md-12">
                                      <div class="box box-solid">
                                        <div class="box-header with-border">
                                          <i class="fa fa-list"></i>
                                          <h3 class="box-title">Estrategias y Medios de acción de los actores</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                          <dl>
                                            {% if fichas %}
                                                {%  for ficha in fichas %}
                                                    <dt>{{ ficha.idActorY.nombreLargo }} - {{ ficha.idActorX.nombreLargo }}</dt>
                                                    <dd>{{ ficha.estrategia }}</dd>
                                                    <br>
                                                    <br>
                                                {% endfor %}
                                            {% else %}
                                                No se han registrado fichas de estrategias.
                                            {% endif %}
                                          </dl>
                                        </div>
                                        <!-- /.box-body -->
                                      </div>
                                      <!-- /.box -->
                                    </div>
                            </div>
                          </div>
                            <!-- /.tab-pane -->
                        {% if usuario != 'EXPERTO' %}
                              <div class="tab-pane" id="tab_4">
                                <div class="row" style="text-align: justify">
                                    <div class="col-md-12">
                                          <div class="box box-solid">
                                            <div class="box-header with-border">
                                              <i class="fa fa-list"></i>
                                              <h3 class="box-title">Valoraciones 2MAO registradas por los expertos</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                              <dl>
                                              {% if otras_mao %}
                                                  {% for mao in otras_mao %}
                                                    <dt>{{ mao.idObjetivoX.nombreLargo }}
                                                        <br>
                                                        [{{ mao.valor }} -
                                                        {% if mao.valor == 0 %}
                                                             Neutro
                                                        {% elif mao.valor > 0 %}
                                                             Acuerdo
                                                        {% else %}
                                                            Desacuerdo
                                                        {% endif %}
                                                        ]
                                                    </dt>
                                                    <dd>
                                                        {{ mao.justificacion }}
                                                    </dd>
                                                      <br>
                                                  {% endfor %}
                                              {% else %}
                                                  <h4>No se han registrado otras valoraciones.</h4>
                                              {% endif %}
                                              </dl>
                                            </div>
                                            <!-- /.box-body -->
                                          </div>
                                          <!-- /.box -->
                                        </div>
                                </div>
                              </div>
                              <!-- /.tab-pane -->
                        {% endif %}
                        </div>
                        <!-- /.tab-content -->
                      </div>
                      <!-- nav-tabs-custom -->
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3">
                            {% if tipoAcceso == 'lista' %}
                                <a class="btn btn-success" href="{% url 'mactor:relacionesMAO' relacion.idActorY.idEstudio_id %}" title="Relaciones 2MAO" style="margin-bottom: 10px"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% elif tipoAcceso == 'matriz' %}
                                <a class="btn btn-success" href="{% url 'mactor:matriz_mao' relacion.idActorY.idEstudio_id 2 %}" title="Matriz 2MAO" style="margin-bottom: 10px"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% else %}
                                <a class="btn btn-success" href="{% url 'mactor:consenso_mao' relacion.idActorY.idEstudio_id 2 0 %}" title="Consenso Matriz 2MAO" style="margin-bottom: 10px"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
</div>

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}
{% endblock %}


