{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if usuario != '' %}
            <div class="matter">
            <div class="container">
                <div class="row">

                    <div class="col-md-11" style="margin-top: 10px">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            {% if tipoAcceso != 'consenso' %}
                                <li class="active"><a href="#tab_1" data-toggle="tab">Detalle de la Influencia Directa</a></li>
                                <li><a href="#tab_2" data-toggle="tab">Descripción de los actores</a></li>
                                <li><a href="#tab_3" data-toggle="tab">Fichas de Estrategias</a></li>
                                {% if usuario != 'EXPERTO' %}
                                    <li><a href="#tab_4" data-toggle="tab">Otras valoraciones</a></li>
                                {% endif %}
                            {% else %}
                                {% if usuario != 'EXPERTO' %}
                                    <li class="active"><a href="#tab_2" data-toggle="tab">Descripción de los actores</a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Fichas de Estrategias</a></li>
                                    <li><a href="#tab_4" data-toggle="tab">Todas las  valoraciones</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            {% if tipoAcceso != 'consenso' %}
                                <div class="tab-pane active" id="tab_1">
                                   <div class="row">
                                        <div class="col-md-12">
                                                <div class="widget-content">
                                                    <div class="padd">
                                                            <hr/>
                                                            <!-- Form starts.  -->
                                                        <form class="form-horizontal" role="form" method="post">
                                                            {% csrf_token %}

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        <label class="control-label" style="text-align: left">Influencia del actor</label>
                                                                        <input class="form-control" readonly value="{{ influencia.idActorY }}">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        <label class="control-label" style="text-align: left">Sobre el actor</label>
                                                                        <input class="form-control" readonly value="{{ influencia.idActorX }}">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        <label class="control-label" style="text-align: left">Valor</label>
                                                                        {% if influencia.valor == 0 %}
                                                                            <input class="form-control" readonly value="{{ influencia.valor }} - Sin influencia">
                                                                        {% elif influencia.valor == 1 %}
                                                                            <input class="form-control" readonly value="{{ influencia.valor }} - Procesos">
                                                                        {% elif influencia.valor == 2 %}
                                                                            <input class="form-control" readonly value="{{ influencia.valor }} - Proyectos">
                                                                        {% elif influencia.valor == 3 %}
                                                                            <input class="form-control" readonly value="{{ influencia.valor }} - Misión">
                                                                        {% else %}
                                                                            <input class="form-control" readonly value="{{ influencia.valor }} - Existencia">
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        <label class="control-label" style="text-align: left">Justificación</label>
                                                                        <textarea class="form-control" rows="5" readonly>{{ influencia.justificacion }}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </form>

                                                    </div>
                                                </div>
                                        </div>
                                   </div>
                                </div>
                                  <!-- /.tab-pane -->
                            {% endif %}
                            <div id="tab_2"
                                    {% if tipoAcceso != 'consenso' %}
                                          class="tab-pane"
                                      {% else %}
                                          class="tab-pane active"
                                      {% endif %}
                                    >
                                    <div class="row" style="text-align: justify">
                                        <div class="col-md-12">
                                              <div class="box box-solid">
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                  <dl>
                                                        <dt>[{{ influencia.idActorY.nombreCorto }}] - {{ influencia.idActorY.nombreLargo }}</dt>
                                                        <dd>
                                                            {% if influencia.idActorY.descripcion == '' %}
                                                                No se ha registrado una descripción para este actor.
                                                            {% else %}
                                                                {{ influencia.idActorY.descripcion }}
                                                            {% endif %}
                                                        </dd>
                                                        <br>
                                                        <dt>[{{ influencia.idActorX.nombreCorto }}] - {{ influencia.idActorX.nombreLargo }}</dt>
                                                        <dd>
                                                            {% if influencia.idActorX.descripcion == '' %}
                                                                No se ha registrado una descripción para este actor.
                                                            {% else %}
                                                                {{ influencia.idActorX.descripcion }}
                                                            {% endif %}
                                                        </dd>
                                                  </dl>

                                                </div>
                                                <!-- /.box-body -->
                                              </div>
                                              <!-- /.box -->
                                            </div>
                                    </div>
                                  </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_3">
                                    <div class="row" style="text-align: justify">
                                        <div class="col-md-12">
                                              <div class="box box-solid">
                                                <div class="box-header with-border">
                                                  <i class="fa fa-list"></i>
                                                  <h3 class="box-title">Estrategias y Medios de acción de los actores</h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                  <dl>
                                                    {% if fichas %}
                                                        {%  for ficha in fichas %}
                                                        <dt>{{ ficha.idActorY.nombreLargo }} - {{ ficha.idActorX.nombreLargo }}</dt>
                                                        <dd>{{ ficha.estrategia }}</dd>
                                                        <br>
                                                        <br>
                                                        {% endfor %}
                                                    {% else %}
                                                        No se han registrado fichas de estrategias.
                                                    {% endif %}
                                                  </dl>
                                                </div>
                                                <!-- /.box-body -->
                                              </div>
                                              <!-- /.box -->
                                            </div>
                                    </div>
                                  </div>
                            <!-- /.tab-pane -->

                        {% if usuario != 'EXPERTO' %}
                              <div class="tab-pane" id="tab_4">
                                <div class="row" style="text-align: justify">
                                    <div class="col-md-12">
                                        <div class="widget-head">
                                            <div class="box-header with-border">
                                                <i class="fa fa-users"></i>
                                                <h3 class="box-title">Valoraciones de los expertos</h3>
                                            </div>
                                        </div>
                                          <div class="box box-solid">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                              <dl>
                                                {% if otras_mid.count > 0 %}
                                                    {% for otro in otras_mid %}
                                                    <dt>[{{ otro.valor }}] -
                                                        {% if otro.valor == 0 %}
                                                            Sin influencia
                                                        {% elif influencia.valor == 1 %}
                                                            Procesos
                                                        {% elif otro.valor == 2 %}
                                                            Proyectos
                                                        {% elif otro.valor == 3 %}
                                                            Misión
                                                        {% else %}
                                                            Existencia
                                                        {% endif %}
                                                    </dt>
                                                    <dd>
                                                        {% if otro.justificacion == '' %}
                                                            No se ha registrado una justificación para esta influencia directa.
                                                        {% else %}
                                                            {{ otro.justificacion }}
                                                        {% endif %}
                                                    </dd>
                                                    <br>
                                                    {% endfor %}
                                                {% else %}
                                                    <h4>No se han registrado otras valoraciones para este par de actores.</h4>
                                                {% endif %}
                                              </dl>
                                            </div>
                                            <!-- /.box-body -->
                                          </div>
                                          <!-- /.box -->
                                        </div>
                                </div>
                              </div>
                              <!-- /.tab-pane -->
                        {% endif %}
                        </div>
                        <!-- /.tab-content -->
                      </div>
                      <!-- nav-tabs-custom -->
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3">
                            {% if tipoAcceso == 'lista' %}
                                <a class="btn btn-success" style="margin-bottom: 10px" href="{% url 'mactor:influenciasMID' influencia.idActorX.idEstudio.id %}" title="Influencias directas"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% elif tipoAcceso == 'consenso' %}
                                <a class="btn btn-success" style="margin-bottom: 10px" href="{% url 'mactor:consenso_mid' influencia.idActorX.idEstudio_id 1 %}" title="Consenso de las Influencias directas"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% else %}
                                <a class="btn btn-success" style="margin-bottom: 10px" href="{% url 'mactor:matriz_mid' influencia.idActorX.idEstudio.id %}" title="Matriz de Influencias directas"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
</div>

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}
{% endblock %}


