{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <style>
        #tabla_mid th, td {text-align: center}
        #tabla_mis_mid th, td {text-align: center}
        .botones_modal {margin-bottom: 5px; display: block; width: 60%; margin-left: 20%}
    </style>
{% endblock%}

{% block content %}
    {% if usuario != '' %}

        {% include 'messages.html' %}

        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Influencias directas de los actores</h3>
              {% include 'mactor/estudio/select_datos_estudio.html' %}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          {% if usuario == 'EXPERTO' %}
                            <li class="active"><a href="#tab_1" data-toggle="tab">Influencias registradas <span class="badge badge-primary">{{ porcentaje }}% registrado.</span></a></li>
                          {% else %}
                            <li class="active"><a href="#tab_1" data-toggle="tab">Todas las influencias registradas <span class="badge badge-primary">{{ influenciasMID.count }}</span></a></li>
                          {% endif %}
                          {% if request.user in estudio.idExpertos.all and usuario != 'EXPERTO' %}
                            <li><a href="#tab_2" data-toggle="tab">Mis influencias registradas <span class="badge badge-primary">{{ porcentaje }}% registrado.</span></a></li>
                          {% endif %}
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_1">
                               <div class="row">
                                    <div class="col-md-12">
                                            <div class="widget-content">
                                                <div class="padd">
                                                     {% if influenciasMID %}
                                                          <table id="tabla_mid" class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                              <th>Influencia del actor</th>
                                                              <th>Sobre el actor</th>
                                                              <th>Valor</th>
                                                              <th>Justificación</th>
                                                              <th id="acciones">Acciones</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for mid in influenciasMID %}
                                                                    <tr>
                                                                        <td>{{mid.idActorY.nombreLargo|upper}}</td>
                                                                        <td>{{mid.idActorX.nombreLargo|upper}}</td>
                                                                        <td>{{mid.valor}}</td>
                                                                        <td>{{mid.justificacion|truncatechars:100}}</td>
                                                                        <td style="width: 10%">
                                                                            <a class="btn btn-primary" href="{% url 'mactor:consultar_mid' mid.id 'lista' %}" title="Ver"><i class="fa fa-eye"></i></a>
                                                                            {% if mid.idExperto == request.user %}
                                                                                {% if estudio.estado %}
                                                                                    <a class="btn btn-warning .edit" href="{% url 'mactor:editar_mid' mid.id 'lista' %}" title="Editar"><i class="fa fa-pencil"></i></a>
                                                                                {% else %}
                                                                                    <a class="btn btn-warning .edit" disabled="True" title="El estudio se encuentra cerrado."><i class="fa fa-pencil"></i></a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                          </table>
                                                          {% else %}
                                                                <h3>No se han registrado influencias directas.</h3>
                                                          {% endif %}
                                                </div>
                                            </div>
                                    </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                          {% if request.user in estudio.idExpertos.all and usuario != 'EXPERTO' %}
                              <div class="tab-pane" id="tab_2">
                                <div class="row" style="text-align: justify">
                                    <div class="col-md-12">
                                          <div class="box box-solid">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                               {% if mis_influenciasMID %}
                                                   <table id="tabla_mis_mid" class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                              <th>Influencia del actor</th>
                                                              <th>Sobre el actor</th>
                                                              <th>Valor</th>
                                                              <th>Justificación</th>
                                                              <th id="acciones">Acciones</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for mid in mis_influenciasMID %}
                                                                    <tr>
                                                                        <td>{{mid.idActorY.nombreLargo|upper}}</td>
                                                                        <td>{{mid.idActorX.nombreLargo|upper}}</td>
                                                                        <td>{{mid.valor}}</td>
                                                                        <td>{{mid.justificacion|truncatechars:100}}</td>
                                                                        <td style="width: 10%">
                                                                            <a class="btn btn-primary" href="{% url 'mactor:consultar_mid' mid.id 'lista' %}" title="Ver"><i class="fa fa-eye"></i></a>
                                                                            {% if mid.idExperto == request.user %}
                                                                                {% if estudio.estado %}
                                                                                    <a class="btn btn-warning .edit" href="{% url 'mactor:editar_mid' mid.id 'lista' %}" title="Editar"><i class="fa fa-pencil"></i></a>
                                                                                {% else %}
                                                                                    <a class="btn btn-warning .edit" disabled="True" title="El estudio se encuentra cerrado."><i class="fa fa-pencil"></i></a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                          </table>
                                               {% else %}
                                                   <h3>No ha registrado influencias directas.</h3>
                                               {% endif %}
                                            </div>
                                            <!-- /.box-body -->
                                          </div>
                                          <!-- /.box -->
                                        </div>
                                </div>
                              </div>
                          {% endif %}
                        </div>
                        <!-- /.tab-content -->
                      </div>
                <!-- nav-tabs-custom -->

            <!--BOTONES ----------------------------- -->

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        {% if usuario != 'EXPERTO' %}
                            <a class="btn btn-success" data-toggle="modal" href="#modalMatricesConsenso" title="Consenso Matriz de Influencias Directas"><i class="fa fa-table"></i> Consenso</a>
                        {% endif %}
                        {% if request.user in estudio.idExpertos.all %}
                            <a class="btn btn-primary" data-toggle="modal" href="#modalMatrices" title="Matrices de influencias entre los actores"><i class="fa fa-table"></i> Matrices</a>
                        {% endif %}
                        <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                    </div>
                </div>

            <!--MODAL ACCESO A MATRICES------------ -->

            {% include 'mactor/mid/matrices/modal_acceso_matrices.html' %}

             <!--MODAL AYUDA----------------------- -->

		    <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Influencias directas</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							 <p>Esta fase del estudio corresponde al registro de las influencias directas
										entre los actores, a partir de la tabla de estrategias elaborada anteriormente.
										Se definen cinco niveles de relaciones entre los actores según el grado de influencia
										así: <br>
                                 [0] El actor tiene poca o ninguna influencia sobre otro. <br>
                                 [1] El actor puede poner en riesgo de forma limitada los procesos operativos de otro.<br>
                                 [2] El actor puede poner en riesgo el éxito de los proyectos de otro actor.<br>
                                 [3] El actor puede poner en riesgo el cumplimiento de las misiones de otro actor.<br>
                                 [4] El actor puede poner en riesgo la existencia o permanencia de otro.<br>
                                 (Godet y Durance, 2009).
                             </p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

            </div>
            <!-- /.box-body -->
          </div>

    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_mid').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[5, 10, 50, -1], [5, 10, 50, "All"]]
        })
      })
    </script>
    <script>
      $(function () {
        $('#tabla_mis_mid').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[5, 10, 50, -1], [5, 10, 50, "All"]]
        })
      })
    </script>
{% endblock %}
