{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    {% if estudio.estado and usuario == 'COORDINADOR' %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Nueva Pregunta</h3>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
										<hr/>

                                    {% include 'messages.html' %}

                                    {% if rondas_activas == 0 %}
										<!-- Form starts.  -->
                                        <form class="form-horizontal" role="form" method="post">
                                        {% csrf_token %}

                                         <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                {{ form.texto_pregunta|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                {{ form.texto_respuesta|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                {{ form.observacion|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div  class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                               {{ form.estado|as_crispy_field }}
                                            </div>

                                            <div class="col-md-3 col-md-offset-1" hidden>
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Estudio</label>
                                                    <input class="form-control" type="text" value="{{estudio.id}}" name="idEstudio">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:preguntas' estudio.id %}" title="Cuestioario"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                                                <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                    {% else %}
                                        <h3>No se puede agregar preguntas si existe una ronda en desarrollo.</h3>
                                        <br>
                                        <br>
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:preguntas' estudio.id %}"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        <!--MODAL AYUDA--------------------------->

                        <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Registrar pregunta</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							  <p>
                                  A través del presente formulario usted como coordinador selecionado,
                                  deberá ingresar la información de las preguntas que harán parte del cuestionario del estudio
                                  Entrevista en desarrollo. Además de la pregunta, cuenta con la posibilidad de registrar
                                  información adicional, como el tipo de respuesta que se pretende obtener y observaciones a
                                  tener en cuenta ante la evaluación o aplicación de la pregunta.
                              </p>
                              <p>
                                  Antes de llevar a cabo el juicio de expertos es recomendable realizar una auto-revisión de
                                  las preguntas formuladas, para ello verifique:
                                  <br>
                                  <br>
                                  <i class="fa fa-eye"></i> La adecuación de las preguntas del cuestionario a los
                                  objetivos de la investigación.
                                  <br>
                                  <br>
                                  <i class="fa fa-list"></i> La existencia de una estructura y disposición general equilibrada y
                                  armónica de las preguntas.
                                  <br>
                                  <br>
                                  <i class="fa fa-binoculars"></i> Ausencia de preguntas o elementos clave.
                                  <br>
                                  <br>
                                  <i class="fa fa-edit"></i> Reiteración de preguntas, existencia de alguna superflua o con
                                  necesidad de adecuación de longitud.
                                  <br>
                                  <br>
                                  <i class="fa fa-question"></i> Carácter, formulación y función por separado de cada pregunta.
                                  <br>
                                  <br>
                                  Murillo, F. J. (2006), Cuestionarios y escalas de actitudes, Madrid: Universidad Autónoma de
                                  Madrid.
							  </p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

                    </div>
                </div>
            </div>
</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}


