{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    {% if pregunta.idEstudio.estado and usuario == 'COORDINADOR' %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Editar Pregunta</h3>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
										<hr/>
                                    {% include 'messages.html' %}

                                    {% if rondas_activas == 0 %}
										<!-- Form starts.  -->
                                        <form class="form-horizontal" role="form" method="post">
                                        {% csrf_token %}

                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1">
                                                    {{ form.texto_pregunta|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1">
                                                    {{ form.texto_respuesta|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1">
                                                    {{ form.observacion|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div  class="row">
                                                <div class="col-md-8 col-md-offset-1">
                                                   {{ form.estado|as_crispy_field }}
                                                </div>

                                                <div class="col-md-3 col-md-offset-1" hidden>
                                                    <div class="form-group">
                                                        <label class="control-label" style="text-align: left">Estudio</label>
                                                        <input class="form-control" type="text" value="{{pregunta.idEstudio.id}}" name="idEstudio">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-8 col-md-offset-3">
                                                    <a class="btn btn-success" href="{% url 'entrevista:preguntas' pregunta.idEstudio.id %}" title="Cuestioario"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                    <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Guardar</button>
                                                </div>
                                            </div>
                                    </form>
                                    {% else %}
                                        <h3>No se puede editar preguntas si existe una ronda en desarrollo.</h3>
                                        <br>
                                        <br>
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:preguntas' pregunta.idEstudio.id %}"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}


