{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if pregunta.idEstudio.estado is True and usuario == 'COORDINADOR' %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Eliminar Pregunta</h3>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
										<hr/>
                                    {% if rondas_activas == 0 %}
										<!-- Form starts.  -->
                                        <form class="form-horizontal" role="form" method="post">
                                        {% csrf_token %}

                                            <div class="jumbotron row col-md-10 col-md-offset-1">
                                                <h3>¿Desea eliminar la pregunta: {{ pregunta.texto_pregunta }}</h3>
                                            </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:preguntas' pregunta.idEstudio.id %}"><i class="fa fa-arrow-left"></i> Cancelar</a>
                                                <button type="submit" class="btn btn-danger" title="Eliminar"><i class="fa fa-trash"></i> Si, eliminar</button>
                                            </div>
                                        </div>
                                    </form>
                                    {% else %}
                                        <h3>No se puede eliminar preguntas si existe una ronda en desarrollo.</h3>
                                        <br>
                                        <br>
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:preguntas' pregunta.idEstudio.id %}"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}


