
{% if tipo == 1 %}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <a class="btn btn-success" href="{% url 'mactor:relacionesMAO' estudio.id %}" title="Relaciones 2MAO"><i class="fa fa-arrow-left"></i> Atrás</a>
            <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
            {% if estado_matriz == 1 %}
                {% if expertos %}
                    <a class="btn btn-primary" id="caa_daa" href="{%url 'mactor:consenso_caa_daa' estudio.id 1 1%}" title="Consenso Matrices 1CAA - DAA"><i class="fa fa-table"></i> 1CAA-DAA</a>
                {% else %}
                    <a class="btn btn-primary" id="caa_daa" href="{% url 'mactor:caa_daa' estudio.id 1 %}" title="Matrices de convergencias y divergencias 1MAO"><i class="fa fa-table"></i> 1CAA-DAA</a>
                {% endif %}
            {% else %}
                <a class="btn btn-primary" disabled="True" title="Finalice el registro de las relaciones 2MAO"><i class="fa fa-table"></i> 1CAA-DAA</a>
            {% endif %}
        </div>
    </div>
{% elif tipo == 2 %}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <a class="btn btn-success" href="{% url 'mactor:relacionesMAO' estudio.id %}" title="Relaciones 2MAO"><i class="fa fa-arrow-left"></i> Atrás</a>
            <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
            {% if estado_matriz == 1 %}
                {% if expertos %}
                    <a class="btn btn-primary" id="caa_daa" href="{%url 'mactor:consenso_caa_daa' estudio.id 2 1%}" title="Consenso Matrices 2CAA - DAA"><i class="fa fa-table"></i> 2CAA-DAA</a>
                {% else %}
                    <a class="btn btn-primary" id="caa_daa" href="{% url 'mactor:caa_daa' estudio.id 2 %}" title="Matrices de convergencias y divergencias 2MAO"><i class="fa fa-table"></i> 2CAA-DAA</a>
                {% endif %}
            {% else %}
                <a class="btn btn-primary" disabled="True" title="Finalice el registro de las relaciones 2MAO"><i class="fa fa-table"></i> 2CAA-DAA</a>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <a class="btn btn-success" href="{% url 'mactor:relacionesMAO' estudio.id %}" title="Relaciones 2MAO"><i class="fa fa-arrow-left"></i> Atrás</a>
            <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
            {% if estado_matriz == 1 %}
                {% if expertos %}
                    <a class="btn btn-primary" id="caa_daa" href="{%url 'mactor:consenso_caa_daa' estudio.id 3 1%}" title="Consenso Matrices 3CAA - DAA"><i class="fa fa-table"></i> 3CAA-DAA</a>
                {% else %}
                    <a class="btn btn-primary" id="caa_daa" href="{% url 'mactor:caa_daa' estudio.id 3 %}" title="Matrices de convergencias y divergencias 3MAO"><i class="fa fa-table"></i> 3CAA-DAA</a>
                {% endif %}
            {% else %}
                <a class="btn btn-primary" disabled="True" title="Finalice el registro de las matrices MID y 2MAO."><i class="fa fa-table"></i> 3CAA-DAA</a>
            {% endif %}
        </div>
    </div>
{% endif %}
