{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
{% endblock%}

{% block content %}
    {% if usuario != '' %}
        {% if expertos and usuario == 'EXPERTO' %}
            <h2>No cuenta con permisos para acceder a esta página</h2>
        {% else %}
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Convergencias entre actores descendentemente</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                   {% if descendientes_caa %}

                  <table class="table table-bordered table-striped" id="tabla_caa">
                    <thead>
                    <tr>
                      <th style="text-align: center">Actor</th>
                      <th style="text-align: center">Actor</th>
                      <th style="text-align: center">Convergencia</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for desc in descendientes_caa %}
                            <tr>
                                <td style="text-align: center">{{desc.posicion|upper}}</td>
                                <td style="text-align: center">{{desc.descripcion|upper}}</td>
                                <td style="text-align: center">{{desc.valor}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h3>No existen relaciones {{ tipo }}MAO registradas.</h3>
                    {% endif %}
                    </tbody>
                  </table>

                </div>
                <!-- /.box-body -->
              </div>

            <br>
            <br>

            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Divergencias entre actores descendentemente</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                   {% if descendientes_daa %}

                  <table class="table table-bordered table-striped" id="tabla_daa">
                    <thead>
                    <tr>
                      <th style="text-align: center">Actor</th>
                      <th style="text-align: center">Actor</th>
                      <th style="text-align: center">Divergencia</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for desc in descendientes_daa %}
                            <tr>
                                <td style="text-align: center">{{desc.posicion|upper}}</td>
                                <td style="text-align: center">{{desc.descripcion|upper}}</td>
                                <td style="text-align: center">{{desc.valor}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h3>No existen relaciones {{ tipo }}MAO registradas.</h3>
                    {% endif %}
                  </table>

                <br>
                {% if expertos %}
                    <div class="alert alert-info alert-dismissible">
                         <br>
                         <h4>Expertos en consenso = {{expertos}}</h4>
                    </div>
                {% endif %}
                <br>

                <!--BOTONES ------------------------------------------------- -->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            {% if expertos %}
                                <a class="btn btn-success" href="{%url 'mactor:consenso_caa_daa' estudio.id numero_matriz 1%}" title="Consenso Matrices {{ numero_matriz }}CAA - DAA"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% else %}
                                <a class="btn btn-success" href="{% url 'mactor:caa_daa' estudio.id numero_matriz %}" title="Matrices de convergencias y divergencias {{ numero_matriz }}MAO"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% endif %}
                            <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                        </div>
                    </div>


                <!-- Modal ayuda -->
                <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                  <h4 class="modal-title">Ayuda - Tablas descendentes</h4>
                              </div>
                              <div class="modal-body" style="text-align: justify">
                                     <p>
                                         Las Tablas descendentes listan en dicho orden los valores de divergencias y
                                         convergencias de los actores, esto con el fin de facilitar la identificación de
                                         posibles alianzas y conflictos al tener en cuenta que la lectura de las matrices y
                                         grafos se torna compleja a medida que la cantidad de actores aumenta.
                                     </p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                              </div>
                          </div>
                      </div>
                  </div>

                </div>
                <!-- /.box-body -->
              </div>
        {% endif %}
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_caa').DataTable(
            {
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'order': [[ 2, "desc" ]],
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[5, 10, 50, -1], [5, 10, 50, "All"]]
        }
        );
        $('#tabla_daa').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'order': [[ 2, "desc" ]],
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[5, 10, 50, -1], [5, 10, 50, "All"]]
        })
      })
    </script>
{% endblock %}
