{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <style>
        input { text-align: center; width: 60px; }
        .celda_gris { background-color: #5e5e5e; color: white;}
    </style>
{% endblock %}

{% block content %}
    {% if usuario != '' %}
        {% if consenso and usuario == 'EXPERTO' %}
            <h2>No cuenta con permisos para acceder a esta página</h2>
        {% else %}
            <div class="box">
                <div class="box-header">
                    {% if consenso %}
                        <h3 class="box-title">CONSENSO - {{numero_matriz}}CAA - Matriz de Convergencias</h3>
                    {% else %}
                        <h3 class="box-title">{{numero_matriz}}CAA - Matriz de Convergencias</h3>
                    {% endif %}

                    <div class="pull-right">
                        {% if actores %}
                            {% include 'mactor/mao/matrices/opciones_matrices_caa_daa.html' %}
                        {% endif %}
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    {% include 'mactor/mao/matrices/table_matriz_caa.html' %}

                </div>
                <!-- /.box-body -->

                <br>

                <!-- MATRIZ DE DIVERGENCIAS DAA -->

                <div class="box-header">
                    {% if consenso %}
                        <h3 class="box-title">CONSENSO - {{numero_matriz}}DAA - Matriz de Divergencias</h3>
                    {% else %}
                        <h3 class="box-title">{{numero_matriz}}DAA - Matriz de Divergencias</h3>
                    {% endif %}
                </div>

                <!-- /.box-header -->
                <div class="box-body">

                  {% include 'mactor/mao/matrices/table_matriz_daa.html' %}

                <br>
                {% if consenso %}
                    <div class="alert alert-info alert-dismissible">
                         <br>
                         <h4>Expertos en consenso = {{expertos}}</h4>
                    </div>
                {% endif %}
                <br>


                <!--BOTONES ----------------------------------- -->

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            {% if expertos %}
                                <a class="btn btn-success" href="{% url 'mactor:consenso_mao' estudio.id numero_matriz 0 %}" title="Matriz {{ numero_matriz }}MAO consenso"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% else %}
                                <a class="btn btn-success" href="{% url 'mactor:matriz_mao' estudio.id numero_matriz %}" title="Matriz {{ numero_matriz }}MAO"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% endif %}
                            <a class="btn btn-primary" data-toggle="modal" href="#modalAyuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                        </div>
                    </div>

                <!--MODAL CONSULTAR ACTOR--------------- -->

                {% include 'mactor/actor/modal_detalle_actor.html' %}

                 <!--MODAL AYUDA------------------------- -->

                <div id="modalAyuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                  <h4 class="modal-title">Ayuda - Matrices de convergencia y divergencia</h4>
                              </div>
                              <div class="modal-body" style="text-align: justify">
                                 <p>A partir de cada  matriz MAO se calculan las siguientes matrices:<br>
                                     <i class="fa fa-check"></i> CAA, que se obtiene por el producto de la matriz que
                                     contiene sólo productos escalares positivos, y representa el número de objetivos
                                     respecto a los cuales un par de actores tiene una actitud convergente, ya sea
                                     favorable o desfavorable.<br>
                                     <i class="fa fa-check"></i>DAA, que se obtiene por el producto de la matriz que
                                     contiene sólo productos escalares negativos, lo que representa el número de
                                     objetivos respecto de los cuales el par de actores tiene una actitud contraria.
                                 </p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                              </div>
                          </div>
                      </div>
                  </div>

                </div>

            </div>
        {% endif %}
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/mactor/consultar_actor_objetivo_matriz.js'%}"></script>
    <script>
        $('input').attr('readonly', true);
    </script>
{% endblock %}
