
<!-- Modal de acceso a matrices de mid -->
<div id="modalMatrices" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Matrices de Actores vs Objetivos</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <a class="btn btn-primary botones_modal" href="{% url 'mactor:matriz_mao' estudio.id 1 %}">1MAO - Matriz de Posiciones Simples</a>
                <a class="btn btn-primary botones_modal" href="{% url 'mactor:matriz_mao' estudio.id 2 %}">2MAO - Matriz Valorada de Posiciones</a>
                <a class="btn btn-primary botones_modal" href="{% url 'mactor:matriz_mao' estudio.id 3 %}">3MAO - Matriz Valorada y Ponderada de Posiciones</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal de acceso a matrices consenso de mid -->
<div id="modalMatricesConsenso" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Consenso Matrices de Actores vs Objetivos</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <a class="btn btn-success botones_modal" href="{% url 'mactor:consenso_mao' estudio.id 1 0 %}">1MAO - Matriz de Posiciones Simples</a>
                <a class="btn btn-success botones_modal" href="{% url 'mactor:consenso_mao' estudio.id 2 0 %}">2MAO - Matriz Valorada de Posiciones</a>
                <a class="btn btn-success botones_modal" href="{% url 'mactor:consenso_mao' estudio.id 3 0 %}">3MAO - Matriz Valorada y Ponderada de Posiciones</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>
