
    <div class="widget-icons pull-right">
        <select name="caa" class="form-control" onchange="location = this.value;">
            <option value="">Análisis {{numero_matriz}}CAA-DAA</option>
            {% if consenso %}
                <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 2 %}">Mapa de convergencias y divergencias</option>
                <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 4 %}">Grafo de Convergencias</option>
                <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 5 %}">Grafo de Divergencias</option>
                <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 3 %}">Histograma CAA - DAA</option>
                <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 6 %}">Tablas descendentes</option>
            {% else %}
                <option value="{% url 'mactor:mapa_caa_daa' estudio.id numero_matriz %}">Mapa de convergencias y divergencias</option>
                <option value="{% url 'mactor:grafo_caa' estudio.id numero_matriz %}">Grafo de Convergencias</option>
                <option value="{% url 'mactor:grafo_daa' estudio.id numero_matriz %}">Grafo de Divergencias</option>
                <option value="{% url 'mactor:hist_caa_daa' estudio.id numero_matriz %}">Histograma CAA - DAA</option>
                <option value="{% url 'mactor:descendientes' estudio.id numero_matriz %}">Tablas descendentes</option>
            {% endif %}
        </select>
    </div>