
    <div class="pull-right">
        <select class="form-control" onchange="location = this.value;">
            <option value="">Análisis {{ tipo }}MAO</option>
            {% if consenso %}
                <option value="{% url 'mactor:consenso_mao' estudio.id tipo 4%}">Histograma de Implicaciones</option>
                <option value="{% url 'mactor:consenso_mao' estudio.id tipo 5%}">Histograma de Movilizaciones</option>
            {% else %}
                <option value="{% url 'mactor:implicacion' estudio.id tipo %}">Histograma de Implicaciones</option>
                <option value="{% url 'mactor:movilizacion' estudio.id tipo %}">Histograma de Movilizaciones</option>
            {% endif %}
        </select>
    </div>

