
<table class="table table-bordered" id="matriz_caa">
    <thead>
        <tr>
            {%if actores and valores_caa %}
                <input class="celda_gris" value="">
                {% for actor in actores %}
                    <input name="actor{{actor.id}}" class="celda_gris" title="{{actor.nombreLargo|upper}}"
                           value="{{actor.nombreCorto}}" data-toggle="modal" href="#modal_ConsultarActor">
                {% endfor %}
            {% endif %}
            <br>
        </tr>
    </thead>
    <tbody>
        {% if valores_caa %}
            {% for fila in valores_caa %}
                {% for celda in fila %}
                    <tr>
                        {% if celda.posicion == 0 and celda.valor != 'Ci' %}
                            <input name="actor{{celda.pk}}" class="celda_gris" title="{{celda.descripcion|upper}}"
                                   value="{{celda.valor}}" data-toggle="modal" href="#modal_ConsultarActor">
                        {% elif celda.valor == 'Ci' %}
                            <input class="celda_gris" title="{{celda.descripcion}}" value="{{celda.valor}}">
                        {% else %}
                            <input type="text" value="{{celda.valor}}" title="{{celda.descripcion}}">
                        {% endif %}
                    </tr>
                {% endfor %}
                <br>
            {% endfor %}
        {% else %}
            {% if numero_matriz < 3 %}
                <h3>Finalice el registro de las relaciones {{ numero_matriz }}MAO para visualizar la matriz {{ numero_matriz }}CAA.</h3>
            {% else %}
                <h3>Finalice la matriz MID y 2MAO para visualizar la matriz 3CAA.</h3>
            {% endif %}
        {% endif %}
    </tbody>
</table>