
        <table class="table table-bordered" id="tabla_mao">
            <thead>
                <tr>
                    {% if valores_mao and objetivos %}
                        <input class="celda_gris" type="text" value="">
                        {% for objetivo in objetivos %}
                            <input name="objetivo{{objetivo.id}}" class="celda_gris" title="{{objetivo.nombreLargo|upper}}"
                                    value="{{objetivo.nombreCorto}}" data-toggle="modal" href="#modal_ConsultarObjetivo">
                        {% endfor %}
                        <input class="celda_gris" type="text" title="IMPLICACIÓN POSITIVA (ACUERDOS)" value="+">
                        <input class="celda_gris" type="text" title="IMPLICACION NEGATIVA (DESACUERDOS)" value="-">
                        <input class="celda_gris" type="text" title="IMPLICACIÓN" value="Imp.">
                        <br>
                </tr>
            </thead>
            <tbody>
                        {% for fila in valores_mao %}
                            {% for celda in fila %}
                                 <tr>
                                    {% if celda.posicion == 0 and celda.valor != 'Mov.' and celda.valor != '-' and celda.valor != '+' %}
                                        <input name="actor{{celda.pk}}" class="celda_gris" title="{{celda.descripcion|upper}}"
                                                   value="{{celda.valor}}" data-toggle="modal" href="#modal_ConsultarActor">
                                    {% elif celda.valor == 'Mov.' or celda.valor == '-' or celda.valor == '+' %}
                                         <input class="celda_gris" title="{{celda.descripcion}}" value="{{celda.valor}}">
                                    {% else %}
                                        <!-- relaciones no registradas -->
                                         {% if celda.valor == 100 %}
                                            <input class="celda_gris" type="text" title="Relación sin registrar"
                                                   {% if consenso is False and tipo == 2 %}
                                                       {% if estudio.estado %}
                                                                onclick="location.href='{% url 'mactor:nueva_MAO' celda.y celda.x %}'"
                                                       {% else %}
                                                            data-toggle="modal" href="#modal_estado_estudio"
                                                       {% endif %}
                                                   {% endif %}
                                                   value="X">
                                         <!-- relaciones registradas -->
                                        {% else %}
                                            <input type="text" value="{{celda.valor}}"
                                                   {% if tipo == 2 and celda.pk != '' %}
                                                       {% if estudio.estado and consenso is False  %}
                                                            onclick="location.href='{% url 'mactor:editar_mao' celda.pk 'matriz' %}'"
                                                       {% else %}
                                                            {% if consenso %}
                                                                onclick="location.href='{% url 'mactor:consultar_mao' celda.pk 'consenso' %}'"
                                                            {% else %}
                                                                onclick="location.href='{% url 'mactor:consultar_mao' celda.pk 'matriz' %}'"
                                                            {% endif %}
                                                       {% endif %}
                                                   {% endif %}
                                                   title="{{celda.descripcion}}">
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <br>
                        {% endfor %}
                {% else %}
                    <h3>No se han registrado actores u objetivos en el estudio.</h3>
                {% endif %}
            </tbody>
        </table>
