
{% if tipo == 1 %}
    {% if consenso %}
        <h3 class="box-title">CONSENSO - Matriz de Posiciones Simples 1MAO</h3>
    {% else %}
        <h3 class="box-title">1MAO - Matriz de Posiciones Simples</h3>
    {% endif %}
{% elif tipo == 2 %}
    {% if consenso %}
        <h3 class="box-title">CONSENSO - Matriz Valorada de Posiciones 2MAO</h3>
    {% else %}
        <h3 class="box-title">2MAO - Matriz Valorada de Posiciones</h3>
    {% endif %}
{% else %}
    {% if consenso %}
        <h3 class="box-title">CONSENSO - Matriz Valorada y Ponderada de Posiciones 3MAO</h3>
    {% else %}
        <h3 class="box-title">3MAO - Matriz Valorada y Ponderada de Posiciones</h3>
    {% endif %}
{% endif %}