<!-- Modal que muestra la lista de tecnicas prospectivas que se estan usando dentro del proyecto consultado -->

<div id="modal_tecnicas" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Técnicas prospectivas empleadas</h4>
            </div>
            <div class="modal-body" style="text-align: justify">
                <ul class="list-group">
                    {% for tecnica in tecnicas %}
                        <li class="list-group-item">{{ tecnica }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>

