<!-- Modal que muestra la lista de coordinadores del proyecto -->

<div id="modal_coordinadores" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Coordinadores del proyecto</h4>
            </div>
            <div class="modal-body" style="text-align: justify">
                {% include 'proyecto/modals_consultar_proyecto/tabla_coordinadores.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>

