<!-- /.box-header -->
<div class="box-body">
    <table id="tabla_expertos" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Última sesión</th>
            </tr>
        </thead>
        <tbody>
            {% for experto in proyecto.idExpertos.all|dictsort:"first_name" %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ experto }}</td>
                    <td>{{ experto.last_login }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- /.box-body -->





