{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if usuario != '' %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-11" style="margin-top: 10px">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab_1" data-toggle="tab">Detalle del juicio</a></li>
                          <li><a href="#tab_2" data-toggle="tab">Otros Juicios a la pregunta</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_1">
                               <div class="row">
                                    <div class="col-md-12">
                                            <div class="widget-content">
                                                <div class="padd">
                                                        <hr/>
                                                        <!-- Form starts.  -->
                                                        <form class="form-horizontal" role="form" method="post">
                                                        {% csrf_token %}

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label" style="text-align: left">Pregunta</label>
                                                                    <textarea class="form-control" rows="2" readonly>{{ juicio.texto_pregunta }}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label" style="text-align: left">Valorización</label>
                                                                    <input class="form-control" readonly value="[{{ juicio.idValorEscala.valor }}] - {{ juicio.idValorEscala }}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label" style="text-align: left">Justificación</label>
                                                                    <textarea class="form-control" rows="2" readonly>{{ juicio.justificacion }}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-1">
                                                                <div class="form-group">
                                                                    <label class="control-label" style="text-align: left">Ronda</label>
                                                                    <input class="form-control" readonly value="{{ juicio.idRonda.numero_ronda }}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>
                                    </div>
                               </div>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_2">
                            <div class="row" style="text-align: justify">
                                <div class="col-md-12">
                                      <div class="box box-solid">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                          <dl>
                                            {% if otros_juicios.count > 0 %}
                                                {% for otro in otros_juicios %}
                                                <dt>Ronda {{ otro.idRonda.numero_ronda }}<br>
                                                    [{{ otro.idValorEscala.valor }} - {{ otro.idValorEscala.nombre }}]</dt>
                                                <dd>
                                                    {% if otro.justificacion == '' %}
                                                        No se ha registrado una descripción para este juicio.
                                                    {% else %}
                                                        {{ otro.justificacion }}
                                                    {% endif %}
                                                </dd>
                                                <br>
                                                {% endfor %}
                                            {% else %}
                                                <h4>No se han realizado otros juicios a esta pregunta.</h4>
                                            {% endif %}
                                          </dl>
                                        </div>
                                        <!-- /.box-body -->
                                      </div>
                                      <!-- /.box -->
                                    </div>
                            </div>
                          </div>
                          <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                      </div>
                      <!-- nav-tabs-custom -->
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3">
                            {% if tipoAcceso == 'lista' %}
                                <a class="btn btn-success" href="{% url 'entrevista:juicios' juicio.idRonda.idEstudio_id %}" title="Juicios"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% elif tipoAcceso == 'formulario' %}
                                <a class="btn btn-success" href="{% url 'entrevista:nuevo_juicio' juicio.idRonda.idEstudio_id %}" title="Juicios"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% else %}
                                <a class="btn btn-success" href="{% url 'entrevista:matriz_juicios' juicio.idRonda_id %}" title="Juicios"><i class="fa fa-arrow-left"></i> Atrás</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}


