{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
{% endblock%}

{% block content %}
    {% if estudio.estado and usuario == 'EXPERTO' %}
        {% if ronda.estado %}
            <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                         <!-- Custom Tabs -->
                          <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                              <li class="active"><a href="#tab_1" data-toggle="tab">Registrar juicio ronda #{{ ronda.numero_ronda }} ({{ porcentaje  }}% diligenciado.)</a></li>
                              <li><a href="#tab_2" data-toggle="tab">Juicios realizados</a></li>
                            </ul>
                            <div class="tab-content">
                              <div class="tab-pane active" id="tab_1">
                                   <div class="row">
                                        <div class="col-md-12">
                                                <div class="widget-content">
                                                    <div class="padd">
                                                            <hr/>
                                                            <!-- Form starts.  -->
                                                            {% include 'messages.html' %}

                                                            {% if porcentaje < 100 %}
                                                                <form class="form-horizontal" role="form" method="post">
                                                                    {% csrf_token %}

                                                                    <div class="row">
                                                                        <div class="col-md-8 col-md-offset-1">
                                                                            <div class="form-group">
                                                                                {{form.texto_pregunta.errors}}
                                                                                <label class="control-label" style="text-align: left">Pregunta*</label>
                                                                                <select name="texto_pregunta" class="form-control" required id="id_texto_pregunta">
                                                                                        {% if preguntas %}
                                                                                            <option value="" selected>----Seleccionar----</option>
                                                                                            {% for pregunta in preguntas %}
                                                                                                <option value="{{pregunta.texto_pregunta}}">{{pregunta.texto_pregunta}}</option>
                                                                                            {% endfor %}
                                                                                        {% else %}
                                                                                    <option value="" selected>----NO SE HAN REGISTRADO PREGUNTAS EN ESTE ESTUDIO----</option>
                                                                                        {% endif %}
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-8 col-md-offset-1">
                                                                            <div class="form-group">
                                                                                {{form.idValorEscala.errors}}
                                                                                <label class="control-label" style="text-align: left">Valor juicio*</label>
                                                                                <select name="idValorEscala" class="form-control" required id="id_idValorEscala">
                                                                                        {% if valores %}
                                                                                            <option value="" selected>----Seleccionar----</option>
                                                                                            {% for valor in valores %}
                                                                                                <option value="{{valor.id}}">{{valor.nombre}}</option>
                                                                                            {% endfor %}
                                                                                        {% else %}
                                                                                    <option value="" selected>----NO SE HA REGISTRADO UNA ESCALA DE LIKERT PARA ESTE ESTUDIO----</option>
                                                                                        {% endif %}
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-8 col-md-offset-1">
                                                                            <div class="form-group">
                                                                                <label class="control-label" style="text-align: left">Justificación</label>
                                                                                <textarea class="form-control" rows="2" name="justificacion"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div  class="row">
                                                                        <div class="col-md-3 col-md-offset-1" hidden>
                                                                            <div class="form-group">
                                                                                <label class="control-label" style="text-align: left">Experto</label>
                                                                                <input class="form-control" type="text" value="{{user.id}}" name="idExperto">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" hidden>
                                                                        <div class="col-md-8 col-md-offset-1">
                                                                            <div class="form-group">
                                                                                <label class="control-label" style="text-align: left">Ronda</label>
                                                                                <input class="form-control" type="number" readonly value="{{ ronda.id }}" name="idRonda">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-8 col-md-offset-3">
                                                                        <a class="btn btn-success" href="{% url 'entrevista:juicios' estudio.id %}" title="Lista de estudios"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                                        <a class="btn btn-primary" data-toggle="modal" href="#modal_ayuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                                                                        {% if ronda.estado %}
                                                                            <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i> Guardar</button>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>

                                                                </form>
                                                            {% else %}
                                                                <div class="alert alert-info alert-dismissible col-md-11">
                                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                                    <h4><i class="icon fa fa-info"></i></h4>
                                                                    <h3>Ha finalizado los juicios de la ronda {{ ronda.numero_ronda }}.
                                                                    <br>
                                                                    Gracias por participar.
                                                                    </h3>
                                                                        <br>
                                                                    <h4>Puede editar los juicios realizados mientras la ronda correspondiente se encuentre abierta.</h4>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-8 col-md-offset-3">
                                                                        <a class="btn btn-success" href="{% url 'entrevista:juicios' estudio.id %}" title="Lista de estudios"><i class="fa fa-arrow-left"></i> Atrás</a>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                        </div>
                                   </div>
                              </div>
                              <!-- /.tab-pane -->
                              <div class="tab-pane" id="tab_2">
                                <div class="row" style="text-align: justify">
                                    <div class="col-md-12">
                                          <div class="box box-solid">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                              {% if juicios %}
                                                  <table id="lista_juicios" class="table table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                      <th style="text-align: center">#</th>
                                                      <th style="text-align: center">Pregunta</th>
                                                      <th style="text-align: center">Valor</th>
                                                      <th style="text-align: center">Justificación</th>
                                                      <th style="text-align: center; width: 10%">Ronda</th>
                                                      <th id="acciones" style="text-align: center">Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for juicio in juicios %}
                                                            <tr>
                                                                <td style="text-align: center">{{forloop.counter}}</td>
                                                                <td style="text-align: justify">{{juicio.texto_pregunta}}</td>
                                                                <td style="text-align: center">{{juicio.idValorEscala}}</td>
                                                                <td style="text-align: justify">{{juicio.justificacion|truncatechars:100}}</td>
                                                                <td style="text-align: center">{{juicio.idRonda.numero_ronda}}</td>
                                                                <td style="text-align: center">
                                                                    <a class="btn btn-primary" title="Ver" href="{% url 'entrevista:consultar_juicio' juicio.id 'formulario' %}"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                   </tbody>
                                                  </table>
                                              {% else %}
                                                  <h3>No se han registrado juicios.</h3>
                                              {% endif %}
                                            </div>
                                            <!-- /.box-body -->
                                          </div>
                                          <!-- /.box -->
                                        </div>
                                </div>
                              </div>
                              <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                          </div>
                          <!-- nav-tabs-custom -->
                    </div>
                </div>

                <!--INICIO MODAL AYUDA------------------------- -->

		        <div id="modal_ayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							  <h4 class="modal-title">Ayuda - Nuevo juicio</h4>
						  </div>
						  <div class="modal-body" style="text-align: justify">
							  <p>
                                  Para registrar un nuevo juicio selecione la pregunta a evaluar y posteriormente una
                                  alternativa de respuesta que represente su nivel de acuerdo o desacuerdo con dicha
                                  pregunta. Además puede ingresar una justificación que ayude al coordinador a comprender
                                  el porqué de su evaluación.
                                  <br>
                                  <br>
                                  A medida que lleve a cabo los juicios, el porcentaje de diligenciamiento
                                  se actualizará y la lista de preguntas a evaluar disminuirá para facilitar el proceso.
                                  Una vez el porcentaje alcance el 100% contará con la posibilidad de editar los juicios
                                  mientras la ronda correspondiente se encuentre activa.
							  </p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						  </div>
					  </div>
				  </div>
			  </div>

            </div>
</div>
        {% else %}
            <h2>No se ha habilitado una ronda para el juicio de expertos.</h2>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <a class="btn btn-success" href="{% url 'entrevista:juicios' estudio.id %}" title="Lista de estudios"><i class="fa fa-arrow-left"></i> Atrás</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#lista_juicios').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[5, 10, 50, -1], [5, 10, 50, "All"]]
        })
      })
    </script>
{% endblock %}


