
<div class="row col-md-8 col-md-offset-1" style="display: table-cell;vertical-align:middle">
    {% if usuario != 'EXPERTO' %}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ actores.count }}</h3>
                    <p>Actores</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a href="{% url 'mactor:actores' estudio.id %}" class="small-box-footer">Ver actores <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ objetivos.count }}</h3>
                    <p>Objetivos</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a href="{% url 'mactor:objetivos' estudio.id %}" class="small-box-footer">Ver objetivos <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>{{ fichas.count }}</h3>
                    <p>Fichas de estrategias</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a href="{% url 'mactor:fichas' estudio.id %}" class="small-box-footer">Ver estrategias <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    {% endif %}
    <!-- -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>{{ mid }}</h3>
                <p>Relaciones MID</p>
            </div>
            <div class="icon">
                <i class="fa fa-list"></i>
            </div>
            <a href="{% url 'mactor:influenciasMID' estudio.id %}" class="small-box-footer">Ver relaciones MID <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>{{ mao }}</h3>
                <p>Relaciones MAO</p>
            </div>
            <div class="icon">
                <i class="fa fa-list"></i>
            </div>
            <a href="{% url 'mactor:relacionesMAO' estudio.id %}" class="small-box-footer">Ver relaciones MAO <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- -->
    {% if usuario != 'EXPERTO' %}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        {%if informe.estado %}
                            <a class="btn btn-sm btn-success" title="Informe finalizado"><i class="fa fa-check"></i></a>
                        {%else%}
                            <a class="btn btn-sm btn-danger" title="Informe en proceso de redacción"><i class="fa fa-times"></i></a>
                        {% endif %}
                    </h3>
                    <p>Informe final</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a href="{% url 'mactor:editar_informe' informe.id %}" class="small-box-footer">Ver informe <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ estudio.idExpertos.count }}</h3>
                    <p>Expertos</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <a data-toggle="modal" href="#modal_expertos" class="small-box-footer">Ver expertos <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    {% endif %}
    <!-- ./col -->
</div>