{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if usuario != '' %}
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget-head">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Detalle ronda #{{ ronda.numero_ronda }}</h3>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">
										<hr/>
										<!-- Form starts.  -->
                                        <form class="form-horizontal" role="form" method="post">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Descripción</label>
                                                    <textarea class="form-control" rows="2" readonly>{{ ronda.descripcion }}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Inicio</label>
                                                    <input class="form-control" readonly value="{{ ronda.fecha_inicio }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Cierre</label>
                                                    <input class="form-control" readonly value="{{ ronda.fecha_final }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="text-align: left">Estado</label>
                                                    {% if ronda.estado %}
                                                        <input class="form-control" readonly value=" Ronda abierta">
                                                    {% else %}
                                                        <input class="form-control" readonly value="Ronda cerrada">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <a class="btn btn-success" href="{% url 'entrevista:rondas' ronda.idEstudio.id %}" title="Rondas"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
</div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

    <script>
        //Date picker
        $('#datepicker').datepicker({
          autoclose: true
        })
    </script>

{% endblock %}


