{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
     <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

    <style>
        #tabla_rondas th, td {text-align: center}
    </style>
{% endblock%}

{% block content %}

    {% include 'messages.html' %}

    {% if usuario != '' %}
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Rondas de juicios</h3>

                {% include 'entrevista/estudio/select_datos_estudio.html' %}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% if rondas %}

              <table id="tabla_rondas" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Número</th>
                  <th>Inicio</th>
                  <th>Cierre</th>
                  <th>Estado</th>
                  <th id="acciones">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for ronda in rondas %}
                        <tr>
                            <td style="width: 50px">{{ronda.numero_ronda}}</td>
                            <td>{{ronda.fecha_inicio}}</td>
                            <td>{{ronda.fecha_final}}</td>
                            <td style="width: 50px">
                                {% if ronda.estado and usuario == 'COORDINADOR' %}
                                    <a id="ronda{{ ronda.id }}" class="btn btn-sm btn-success" title="Ronda abierta"><i class="fa fa-check"></i></a>
                                {% else %}
                                    <a class="btn btn-sm btn-danger" title="Ronda cerrada"><i class="fa fa-times"></i></a>
                                {% endif %}
                            </td>
                            <td style="width: 30%">
                                <a class="btn btn-primary" title="Ver" href="{% url 'entrevista:consultar_ronda' ronda.id %}"><i class="fa fa-eye"></i></a>
                                {% if usuario == 'COORDINADOR' %}
                                    {% if estudio.estado %}
                                        {% if ronda.fecha_final >= hoy %}
                                            <a class="btn btn-warning .edit" title="Editar" href="{% url 'entrevista:editar_ronda' ronda.id %}"><i class="fa fa-pencil"></i></a>
                                        {% else %}
                                            <a class="btn btn-warning .edit" title="La ronda no se puede editar si ha transcurrido su periodo de desarrollo." disabled="True"><i class="fa fa-pencil"></i></a>
                                        {% endif %}
                                    {% endif %}
                                    <a class="btn btn-success" title="Matriz de juicios" href="{% url 'entrevista:matriz_juicios' ronda.id %}"><i class="fa fa-table"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h3>No se han registrado rondas en el estudio.</h3>
                {% endif %}
               </tbody>
              </table>

            <!--BOTONES ------------------------------------------------- -->

             <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        {% if usuario == 'COORDINADOR' and estudio.estado %}
                            {% if rondas_activas == 0 %}
                                <a class="btn btn-primary"  href="{% url 'entrevista:nueva_ronda' estudio.id %}" title="Agregar ronda"><i class="fa fa-plus"></i> Agregar</a>
                            {% elif rondas_activas > 0 %}
                                <a class="btn btn-primary" disabled="True" title="Existe una ronda en desarrollo."><i class="fa fa-plus"></i> Agregar</a>
                            {% endif %}
                        {% elif estudio.estado is False %}
                            <a class="btn btn-primary" disabled="True" title="El estudio ha finalizado o está deshabilitado."><i class="fa fa-plus"></i> Agregar</a>
                        {% endif %}
                        <a class="btn btn-primary" data-toggle="modal" href="#modal_ayuda" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                    </div>
             </div>

            <!--INICIO MODAL AYUDA------------------------- -->

		<div id="modal_ayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title">Ayuda - Rondas</h4>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        <p>
                            Al ser el objetivo del  estudio el diseño del cuestionario de la entrevista a realizar, las
                            rondas permiten llevar a cabo el proceso de depuración y mejoramiento de los ítems o preguntas
                            que lo conforman a medida que los expertos realizan los juicios que consideran pertinentes.
                            Es decir, si al finalizar una ronda los resultados alcanzados evidencian la necesidad de realizar
                            cambios al conjunto de preguntas, el coordinador una vez los ha desarrollado puede registrar
                            una nueva ronda para que los expertos evalúen los cambios.
                        </p>
                        {% if usuario == 'COORDINADOR' %}
                            <p>Nota: Tenga en cuenta que mientras exista una ronda abierta no será posible agregar, editar o eliminar
                                preguntas al estudio, de igual manera los accesos para agregar, editar y eliminar las opciones que conforman la
                                escala de Likert se visualizarán deshabilitadas. Además las opciones de respuesta de la escala solo
                                podrán ser eliminadas sino se han realizado juicios.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

            </div>
            <!-- /.box-body -->
          </div>
    {% else %}
        <h2>No cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $('#tabla_rondas').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : true,
          'aLengthMenu' : [[5, 10, 50, -1], [5, 10, 50, "All"]]
        })
      })
    </script>
    <script src="{% static 'js/entrevista/cambiarEstadoPregunta_Escala_Ronda.js' %}"></script>
{% endblock %}

